<section *ngIf="(registerState$ | async) as state" [ngSwitch]="state.dataState">
  <div *ngIf="!state.registerSuccess" class="section">
    <div class="container">
      <div class="row justify-content-center align-items-center my-5">
        <div class="col-md-8 col-lg-6">
          <div class="card shadow-lg p-4">
            <div class="card-body">
              <div class="text-center">
                <h2><i class="fa-solid fa-leaf"></i> msgRecyclingRewards</h2>
                <h5 class="card-title mt-4 mb-5">Become a Recycler</h5>
              </div>
              <div *ngIf="state.dataState === DataState.ERROR" class="alert alert-danger position-relative" role="alert">
                {{ state.error }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="row">
                  <div class="col-md-6 form-outline mb-4">
                    <label class="form-label">First Name</label>
                    <input formControlName="firstName" type="text" [disabled]="state.dataState === DataState.LOADING" class="form-control">
                  </div>

                  <div class="col-md-6 form-outline mb-4">
                    <label class="form-label">Last Name</label>
                    <input formControlName="lastName" type="text" [disabled]="state.dataState === DataState.LOADING" class="form-control">
                  </div>
                </div>


                <div class="form-outline mb-4">
                  <label class="form-label">Email Address</label>
                  <input formControlName="email" type="email" [disabled]="state.dataState === DataState.LOADING" class="form-control">
                </div>

                <div class="row">
                  <div class="col-md-6 form-outline mb-4">
                    <label class="form-label">County</label>
                    <input
                      [disabled]="state.dataState === DataState.LOADING"
                      formControlName="county"
                      [typeahead]="counties"
                      [minLength]="0"
                      [typeaheadWaitMs]="0"
                      [contentEditable]="false"
                      placeholder="Select County"
                      class="form-control"
                      (typeaheadOnSelect)="onSelectCounty($event)"
                      required
                    />
                  </div>

                  <div class="col-md-6 form-outline mb-4">
                    <label class="form-label">City</label>
                    <input
                      [disabled]="state.dataState === DataState.LOADING"
                      formControlName="city"
                      [typeahead]="cities"
                      [contentEditable]="false"
                      [minLength]="0"
                      [typeaheadWaitMs]="0"
                      placeholder="Select City"
                      required
                      class="form-control"
                      (typeaheadOnSelect)="onSelectCity($event)"
                    />
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label">Password</label>
                  <input formControlName="password" type="password" [disabled]="state.dataState === DataState.LOADING" class="form-control">
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label">Confirm Password</label>
                  <input formControlName="confirmPassword" type="password" [disabled]="state.dataState === DataState.LOADING" class="form-control">
                  <div *ngIf="registerForm.hasError('mismatch', 'confirmPassword') && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
                    <small class="text-danger">Passwords do not match.</small>
                  </div>
                </div>

                <div class="d-grid gap-2 mb-4">
                  <button [disabled]="state.dataState === DataState.LOADING || !registerForm.valid" type="submit" class="btn btn-msg-color">
                  <span *ngIf="state.dataState === DataState.LOADING">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Saving...
                  </span>
                  <span *ngIf="state.dataState !== DataState.LOADING">Create Account</span>
                  </button>
                </div>
              </form>



              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  <a [ngStyle]="{'pointer-events': state.dataState === DataState.LOADING ? 'none' : ''}" routerLink="/login" class="link">Account Login</a>
                </div>
                <div class="col">
                  <a [ngStyle]="{'pointer-events': state.dataState === DataState.LOADING ? 'none' : ''}" routerLink="/reset-pass" class="link">Forgot password?</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Success screen -->
  <div *ngIf="state.registerSuccess" class="container">
    <div class="row justify-content-center my-5">
      <div class="col-md-6" style="margin-top: 50px;">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h2><i class="fa-solid fa-leaf"></i> msgRecyclingRewards</h2>
              <h5 class="card-title mt-4 mb-4">{{ state.message }}</h5>
              <i class="bi bi-check-circle-fill" style="font-size: 80px;color: green;"></i>
              <p class="mt-2" style="font-size: 20px;">Please access your email and activate your account.</p>
            </div>
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
                <a [routerLink]="['/login']">Account Login</a>
              </div>
              <div class="col">
                <a (click)="createAccountForm()" style="color: #0D6EFD; text-decoration: underline; cursor: pointer;">
                  Create another account
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
