
<ng-container *ngIf="(newCenterState$ | async) as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="DataState.LOADED">
    <app-navbar [user]="state?.appData?.data?.user"></app-navbar>
    <div style="margin-top: 100px"> </div>
    <section>
      <div class="container mt-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/centers/all']">Centers</a></li>
            <li class="breadcrumb-item active" aria-current="page">New</li>
          </ol>
        </nav>

        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <div class="text-center mb-4">
                  <h2><i class="fa-solid fa-recycle" style="margin-right: 5px;"></i> New Recycling Center</h2>
                </div>

                <div *ngIf="state.error" class="alert alert-danger mt-3" role="alert">
                  {{ state.error }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <form (ngSubmit)="createCenter($event)" [formGroup]="newCenterForm" class="mb-4">
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Ex. MyCenter" required>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label for="contact">Contact</label>
                        <input  type="text"  formControlName="contact" name="contact" class="form-control" id="contact" placeholder="Ex. 0787767443" required>
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label>County</label>
                        <input type="text"
                               formControlName="county"
                               class="form-control"
                               [typeahead]="counties"
                               [minLength]="0"
                               [typeaheadWaitMs]="10"
                               placeholder="Select County"
                               (typeaheadOnSelect)="onSelectCounty($event)" />
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <div class="form-group">
                        <label>City</label>
                        <input type="text"
                               formControlName="city"
                               class="form-control"
                               [typeahead]="cities"
                               [minLength]="0"
                               [typeaheadWaitMs]="10"
                               placeholder="Select City"
                               (typeaheadOnSelect)="onSelectCity($event)" />
                      </div>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="address">Address</label>
                      <input type="text" formControlName="address"
                             class="form-control"
                             id="address"
                             placeholder="Ex. Eco 123"
                             required>
                    </div>

                    <div class="col-md-6 mb-3">
                      <label>Accepted Materials</label>
                      <input formControlName="materials"
                             [typeahead]="availableMaterials"
                             [minLength]="0"
                             [typeaheadWaitMs]="10"
                             placeholder="Accepted Materials"
                             class="form-control"
                             (typeaheadOnSelect)="onSelectMaterials($event)" />
                    </div>

<!--                    <div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="contact">Description</label>-->
<!--                        <input  type="text"  formControlName="description" name="contact" class="form-control" id="description" placeholder="About you">-->
<!--                      </div>-->
<!--                    </div>-->

                    <div class="col-md-6 mb-3">
                      <mat-slide-toggle formControlName="alwaysOpen"> <span style="margin-left: 8px">Always Open</span></mat-slide-toggle>
                      <i class="fa-solid fa-circle-info" style="margin-left: 10px"></i>
                    </div>



                    <div></div>



                    <ng-container *ngIf="!newCenterForm.get('alwaysOpen').value">
                      <div class="col-md-6 mb-3">
                        <label>Opening Time</label>
                        <ngb-timepicker formControlName="openingHour" [seconds]="false" [spinners]="false"></ngb-timepicker>
                      </div>

                      <div class="col-md-6 mb-3">
                        <label>Closing Time</label>
                        <ngb-timepicker formControlName="closingHour" [seconds]="false" [spinners]="false"></ngb-timepicker>
                      </div>
                    </ng-container>


                    <ng-container *ngIf="selectedMaterials.length > 0">

                      <label class="mt-3">Accepted Recycling Materials:</label>
                      <mat-chip-grid aria-label="Enter keywords">
                        <div *ngFor="let material of selectedMaterials">
                          <mat-chip-row (removed)="onRemoveMaterial(material)">
                            {{ material }}
                            <button matChipRemove aria-label="Remove" (click)="onRemoveMaterial(material)">
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip-row>
                        </div>
                      </mat-chip-grid>
                    </ng-container>



                    <!--                    <div class="col-md-12 mb-3">-->
                    <!--                      <div class="form-group">-->
                    <!--                        <label for="imageUrl">Image URL</label>-->
                    <!--                        <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl">-->
                    <!--                      </div>-->
                    <!--                    </div>-->

                  </div>


                  <div class="mt-4 d-flex justify-content-end">
                    <button [disabled]="state.dataState === DataState.LOADING || newCenterForm.invalid || newCenterForm.pristine ||
                            !isAcceptedMaterialsChosen() || (isLoading$ | async)"
                            type="submit" class="btn btn-success me-2">
                      <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      <span *ngIf="isLoading$ | async">Saving...</span>
                      <span *ngIf="!(isLoading$ | async)">Create Center</span>
                    </button>

<!--                    <button type="button" class="btn btn-secondary" [routerLink]="['/customers']">Cancel</button>-->
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</ng-container>
