<ng-container *ngIf="(profileState$ | async) as state">
  <ng-container>
    <app-navbar></app-navbar>
    <section>
      <div class="container">
        <nav aria-label="breadcrumb" style="margin-top: 8px;">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']">Home</a>
            </li>
            <li class="breadcrumb-item active"> Recyclers </li>
            <li class="breadcrumb-item active" aria-current="page"> {{ state?.appData?.data?.user?.firstName }} {{ state?.appData?.data?.user?.lastName }} </li>
          </ol>
        </nav>
        <div class="profile-container bg-white rounded-lg d-block d-sm-flex">
          <div class="profile-tab-nav border-right">
            <div class="p-4">
              <div class="profile-image text-center mb-3">
                <span style="position: relative">
                  <img [src]="state?.appData?.data?.user?.imageUrl" alt="https://img.freepik.com/free-icon/user_318-159711.jpg" class="profile-img" />
                  <i (click)="fileInput.click()" class="bi bi-camera-fill right-position"></i>
                </span>
              </div>
              <h4 class="text-center">{{ state?.appData?.data?.user?.firstName }} {{ state?.appData?.data?.user?.lastName }}</h4>
              <span class="text-muted">Member since {{ state?.appData?.data?.user?.createdAt | date: 'MMMM d, y' }}</span>
            </div>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="profile" data-bs-toggle="pill" data-bs-target="#profile-tab" aria-selected="true" aria-controls="profile" role="tab">
                <i class="bi bi-person-circle" style="margin-right: 12px;"></i> Profile
              </a>
              <a class="nav-link" id="password" data-bs-toggle="pill" data-bs-target="#password-tab" aria-selected="true" aria-controls="password" role="tab">
                <i class="bi bi-key-fill" style="margin-right: 12px;"></i> Password Settings
              </a>
              <a class="nav-link" id="security" data-bs-toggle="pill" data-bs-target="#security-tab" aria-selected="true" aria-controls="security" role="tab">
                <i class="bi bi-shield-shaded" style="margin-right: 12px;"></i> Authorization
              </a>
              <a class="nav-link" id="account" data-bs-toggle="pill" data-bs-target="#account-settings-tab" aria-selected="true" aria-controls="application" role="tab">
                <i class="bi bi-gear" style="margin-right: 12px;"></i> Account Settings
              </a>
              <a class="nav-link" id="notification" data-bs-toggle="pill" data-bs-target="#notification-tab" aria-selected="true" aria-controls="notification" role="tab">
                <i class="bi bi-lock-fill" style="margin-right: 12px;"></i> Authentication
              </a>

              <a class="nav-link" id="notification-settings" data-bs-toggle="pill" data-bs-target="#notification-settings-tab" aria-selected="true" aria-controls="notification-settings" role="tab">
                <i class="bi bi-bell" style="margin-right: 12px;"></i> Notification Settings
              </a>
            </div>
          </div>



          <div class="tab-content p-4 p-md-5" id="v-pills-tabContent" style="border-left: 1px solid #d4d0d0;">
            <div class="tab-pane fade show active" id="profile-tab" role="tabpanel" aria-labelledby="profile" style="min-height: 510px;">
              <h3 class="mb-4">Profile Settings</h3>
              <form #profileForm="ngForm" (ngSubmit)="updateProfile(profileForm)">
                <input type="hidden" name="id" [ngModel]="state?.appData?.data?.user?.id">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>First Name</label>
                      <input [ngModel]="state?.appData?.data?.user?.firstName" [disabled]="state?.appData?.data?.user?.roleName === 'ROLE_USER' || (isLoading$ | async)" type="text" name="firstName" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Last Name</label>
                      <input [ngModel]="state?.appData?.data?.user?.lastName" [disabled]="state?.appData?.data?.user?.roleName === 'ROLE_USER' || (isLoading$ | async)" type="text" name="lastName" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Email</label>
                      <input [ngModel]="state?.appData?.data?.user?.email" [disabled]="state?.appData?.data?.user?.roleName === 'ROLE_USER' || (isLoading$ | async)" type="text" name="email" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Phone</label>
                      <input [ngModel]="state?.appData?.data?.user?.phone" [disabled]="state?.appData?.data?.user?.roleName === 'ROLE_USER' || (isLoading$ | async)" type="text" name="phone" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>City</label>
                      <input [ngModel]="state?.appData?.data?.user?.city" [disabled]="state?.appData?.data?.user?.roleName === 'ROLE_USER' || (isLoading$ | async)" type="text" name="city" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Address</label>
                      <input [ngModel]="state?.appData?.data?.user?.address" [disabled]="state?.appData?.data?.user?.roleName === 'ROLE_USER' || (isLoading$ | async)" type="text" name="address" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Bio</label>
                      <textarea [ngModel]="state?.appData?.data?.user?.bio" [disabled]="state?.appData?.data?.user?.roleName === 'ROLE_USER' || (isLoading$ | async)" name="bio" class="form-control" rows="4"></textarea>
                    </div>
                  </div>
                </div>
                <div>
                  <button [disabled]="state?.appData?.data?.user?.roleName === 'ROLE_USER' || (isLoading$ | async)" type="submit" class="btn btn-primary">
                    <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                    <span *ngIf="isLoading$ | async"> Loading...</span>
                    <span *ngIf="!(isLoading$ | async)">Update</span>
                  </button>
                </div>
              </form>
            </div>



            <div class="tab-pane fade" id="password-tab" role="tabpanel" aria-labelledby="password" style="min-height: 510px;">
              <h3 class="mb-4">Password Settings</h3>
              <form #updatePasswordForm="ngForm" (ngSubmit)="updatePassword(updatePasswordForm)">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Current password</label>
                      <input type="password" name="currentPassword" ngModel [disabled]="(isLoading$ | async)" class="form-control" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>New password</label>
                      <input type="password" name="newPassword" ngModel [disabled]="(isLoading$ | async)" class="form-control" minlength="5" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Confirm new password</label>
                      <input type="password" name="confirmPassword" ngModel [disabled]="(isLoading$ | async)" class="form-control" minlength="5" required>
                    </div>
                  </div>
                </div>
                <div>
                  <button [disabled]="updatePasswordForm.invalid || (isLoading$ | async)" type="submit" class="btn btn-primary">
                    <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                    <span *ngIf="isLoading$ | async">Loading...</span>
                    <span *ngIf="!(isLoading$ | async)">Update</span>
                  </button>
                </div>
              </form>
            </div>



            <div class="tab-pane fade" id="security-tab" role="tabpanel" aria-labelledby="security" style="min-height: 510px;">
              <h3 class="mb-4">Authorization Settings</h3>
              <form #updateRolesForm="ngForm" (ngSubmit)="updateRole(updateRolesForm)">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label style="margin-bottom: 5px;">Role Name</label>
                      <select name="roleName" class="form-control select-cl" [ngModel]="state?.appData?.data?.user?.roleName" [disabled]="(isLoading$ | async)" required>
                        <!--                      <select name="roleName" class="form-control select-cl" [ngModel]="state?.appData?.data?.user?.roleName" [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)" required>-->
                        <!--                        <option *ngFor="let role of state?.appData?.data?.roles"-->
                        <!--                                [selected]="state?.appData?.data?.user?.roleName === role.name"-->
                        <!--                                [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)"-->
                        <!--                                [ngValue]="role.name"-->
                        <!--                                class="select-cl">{{ role.name }}</option>-->
                        <option *ngFor="let role of state?.appData?.data?.roles"
                                [selected]="state?.appData?.data?.user?.roleName === role.name"
                                [disabled]="(isLoading$ | async)"
                                [ngValue]="role.name"
                                class="select-cl">{{ role.name }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label style="margin-bottom: 5px;">Role Permissions</label>
                      <input type="text" *ngFor="let permission of state?.appData?.data?.user?.permissions.split(',')" [value]="permission" [disabled]="true" class="form-control" style="margin-bottom: 5px;">
                    </div>
                  </div>
                </div>
                <div>
                  <!--                  <button [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)" type="submit" class="btn btn-primary">-->
                  <!--                    <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>-->
                  <!--                    <span *ngIf="isLoading$ | async">Loading...</span>-->
                  <!--                    <span *ngIf="!(isLoading$ | async)">Update</span>-->
                  <!--                  </button>-->

                  <button [disabled]="(isLoading$ | async)" type="submit" class="btn btn-primary">
                    <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                    <span *ngIf="isLoading$ | async">Loading...</span>
                    <span *ngIf="!(isLoading$ | async)">Update</span>
                  </button>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="account-settings-tab" role="tabpanel" aria-labelledby="application" style="min-height: 510px;">
              <h3 class="mb-4">Account Settings</h3>
              <form #accountSettingsForm="ngForm" (ngSubmit)="updateAccountSettings(accountSettingsForm)">
                <input type="hidden" name="userId">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="form-check">
                        <input [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)"
                               [checked]="state?.appData?.data?.user?.enabled"
                               [ngModel]="state?.appData?.data?.user?.enabled"
                               type="checkbox" name="enabled" class="form-check-input">
                        <label class="form-check-label">
                          Account Active
                        </label>
                      </div>
                      <div class="form-check">
                        <input [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)"
                               [checked]="state?.appData?.data?.user?.notLocked"
                               [ngModel]="state?.appData?.data?.user?.notLocked"
                               type="checkbox" name="notLocked" class="form-check-input">
                        <label class="form-check-label">
                          Account Unlocked
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <button [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)" type="submit" class="btn btn-primary">
                  <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                  <span *ngIf="isLoading$ | async">Loading...</span>
                  <span *ngIf="!(isLoading$ | async)">Update</span>
                </button>
                </div>
              </form>
            </div>

            <div class="tab-pane fade" id="notification-tab" role="tabpanel" aria-labelledby="notification" style="min-height: 510px;">
              <h3 class="mb-4">Authentication Settings</h3>
              <p>These settings help keep your account more secure.</p>
              <div class="list-group mb-5 shadow">
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col">
                      <strong class="mb-2">Multi-Factor Authentication</strong>
                      <span *ngIf="state?.appData?.data?.user?.usingMfa" class="badge bg-success mx-3">Enabled</span>
                      <span *ngIf="!state?.appData?.data?.user?.usingMfa" class="badge bg-warning mx-3">Disabled</span>
                      <p class="text-muted mb-0">Set up Multi-factor Authentication (MFA) help keep your account more secure</p>
                    </div>
                    <div class="col-auto">
                      <button (click)="toggleMfa()" [disabled]="(isLoading$ | async)" class="btn btn-primary btn-sm">
                        {{ state?.appData?.data?.user?.usingMfa ? 'Disable' : 'Enable' }}
                        <span *ngIf=" (isLoading$ | async)" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>






            <div class="tab-pane fade" id="notification-settings-tab" role="tabpanel" aria-labelledby="notification-settings" style="min-height: 510px;">
              <h3 class="mb-4">Notification Settings</h3>
              <p>Manage your notification preferences within the application.</p>

              <div class="list-group mb-5 shadow">
                <!-- Email Notifications -->
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col">
                      <strong class="mb-2">Email Notifications</strong>
                      <span *ngIf="state?.appData?.data?.user?.notificationsEnabled" class="badge bg-success mx-3">Enabled</span>
                      <span *ngIf="!state?.appData?.data?.user?.notificationsEnabled" class="badge bg-warning mx-3">Disabled</span>
                      <p class="text-muted mb-0">Receive email notifications for important updates</p>
                    </div>
                    <div class="col-auto">
                      <button (click)="toggleEmailNotifications()" [disabled]="(isLoading$ | async)" class="btn btn-primary btn-sm">
                        {{ state?.appData?.data?.user?.notificationsEnabled ? 'Disable' : 'Enable' }}
                        <span *ngIf=" (isLoading$ | async)" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xl-12 mt-4">
            <div class="card" style="border-radius: 8px;">
              <div class="card-body">
                <h5 class="card-title">My Greenness Stats</h5>
                <h6 class="card-subtitle mb-2 text-muted">Put here stats regarding the user reward points, etc.                        </h6>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </ng-container>
</ng-container>

<!-- profile image change form -->
<form enctype="multipart/form-data" style="display:none;">
  <input type="file" #fileInput name="image" id="image"
         placeholder="file" ngModel accept="image/*" />
</form>
