<h2 mat-dialog-title class="mb-3 mt-3">Recycling Rewards: Voucher Redemption Guidelines</h2>

<mat-dialog-content class="mat-typography">
  <div style="max-width: 800px; margin: 0 auto;">
    <section>
      <h3><strong>Accumulating Reward Points</strong></h3>
      <p>Engage with our environmental initiatives to collect reward points. Your dedication to recycling not only aids in conserving our planet but also opens up opportunities to obtain valuable vouchers.</p>
      <p>Regularly visit our application to stay updated on exclusive promotions and opportunities for additional points, accelerating your journey towards earning vouchers.</p>
    </section>
    <hr>

    <section>
      <h3><strong>Voucher Redemption Process</strong></h3>
      <p>To redeem your vouchers, simply go to the 'Redeem' section within the app. Choose the voucher you wish to redeem and follow the provided steps to claim your reward seamlessly.</p>
      <p>Should you encounter difficulties, our dedicated customer support team is on standby to offer prompt assistance.</p>
    </section>

    <section>
      <h3><strong>Voucher Redemption Policy</strong></h3>
      <p>Understanding our Voucher Redemption Policy is essential for a hassle-free redemption experience:</p>
      <ul>
        <li><strong>Expiration:</strong> Vouchers are subject to expiration dates. Redeem your vouchers promptly to benefit from their full value.</li>
        <li><strong>Terms and Conditions:</strong> Specific terms apply to each voucher. We encourage you to review these terms to ensure they meet your expectations.</li>
        <li><strong>Finality of Redemption:</strong> Redemption is final. Select carefully, as vouchers cannot be returned, exchanged, or refunded once redeemed.</li>
        <li><strong>Usage Policy:</strong> Attempts to exploit or circumvent the redemption process may lead to account suspension. We urge you to utilize your vouchers within the spirit of fairness.</li>
        <li><strong>Further Assistance:</strong> Should you require additional information, please consult the full Voucher Policy or contact our support team directly.</li>
      </ul>
      <p>Adherence to these policies ensures you maximize the benefits received from our Recycling Rewards program.</p>
    </section>

    <section>
      <h3><strong>Support and Inquiries</strong></h3>
      <p>We prioritize your satisfaction. For any questions, feedback, or assistance, our support team is eager to help:</p>
      <p><strong>Email:</strong> recycling.rewards@msg.com</p>
      <p><strong>Phone:</strong> +1-800-123-4567</p>
      <p>Contact us during business hours for prompt and efficient support.</p>
    </section>

    <hr>

    <section>
      <h3><strong>Available Voucher Types</strong></h3>
      <ng-container *ngIf="data">
        <div *ngFor="let voucherType of data?.voucherTypes">
          <h4>{{ voucherType.name }}</h4>
          <p><strong>Required Points:</strong> {{ voucherType?.thresholdPoints }}</p>
        </div>
      </ng-container>
    </section>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Understood</button>
</mat-dialog-actions>
