.accepted-materials {
  display: flex;
  gap: 5px;
}

.statsModalContent {
  font-size: 12px;
  max-width: 450px;
  margin: auto;
  padding: 15px;
}

.statsModalContent h2 {
  font-size: 14px;
  color: #333;
}


.modal-badge {
  display: inline-block;
  padding: 6px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  /*text-transform: uppercase;*/
  border-radius: 8px;
  margin-right: 5px;
}

.statsModalContent .badge + .badge {
  margin-left: 10px !important;
}


.d-flex.align-items-center.justify-content-between {
  margin-bottom: 15px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.list-group-item:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 15px 20px;
}

.modal-title {
  font-size: 24px;
  color: #333;
  margin: 0;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #ddd;
  padding: 5px 10px;
}

.statsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.statsTable th, .statsTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.statsTable th {
  font-size: 10px;
  background-color: #f2f2f2;
}

.statsTable tr:hover {
  background-color: #f5f5f5;
}


.info-icon {
  font-size: 20px;

  margin-bottom: -8px;
}

.info-icon-button:hover {
  background-color: transparent;
  color: inherit;
}


