<ng-container *ngIf="(centerDetailsState$ | async) as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="DataState.LOADED">
    <app-navbar [user]="state?.appData?.data?.user"></app-navbar>
    <div style="margin-top: 90px"> </div>
    <section>
      <div class="container center-details">
        <nav aria-label="breadcrumb" style="margin-top: 20px;">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/centers/all']">Centers</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ state?.appData?.data?.center.name }}</li>
          </ol>
        </nav>
        <div class="row">
          <div class="col-xl-4">
            <div class="card border rounded-3 mb-3">
              <div class="card-body">
                <div class="d-flex align-items-start">
                  <img
                    [src]="state?.appData?.data?.center?.imageUrl || 'https://ui-avatars.com/api/?background=random&name=' + (state?.appData?.data?.center?.name || '')"
                    style="position: relative"
                    class="rounded-circle avatar-lg img-thumbnail"
                    alt="Center Image"
                  />
                  <div class="w-25 ms-2">
                    <h4 class="my-0">{{ state?.appData?.data?.center?.name }}</h4>
                    <p class="text-muted" style="font-size: 18px;"> {{ state?.appData?.data?.center?.contact }}</p>
                    <div class="accepted-materials">
                      <ng-container *ngFor="let material of state?.appData?.data?.center | acceptedMaterials">
                        <span class="badge mb-0" [ngClass]="material.badgeClass">{{ material.name }}</span>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Stats Card -->
            <div class="card border rounded-3 mt-3 fade-bottom" (click)="openStatsModal(centerStatsModal)">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <div>
                    <h5 class="card-title mb-0">Center Stats</h5>
                  </div>
                  <div class="h4">
                    <i class="fa-solid fa-chart-line"></i>
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="me-2 h5"><i class="fa-solid fa-users me-2"></i> {{ state?.appData?.data?.centerStats?.recyclersNumber }} </span>
                    <span class="badge badge-soft-recyclers">Active Recyclers</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="h5"><i class="fa-solid fa-recycle me-2"></i> {{ state?.appData?.data?.centerStats?.activitiesNumber }}</span>
                    <span class="badge badge-soft-activities">Recycling Activities</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="h5"><i class="fa-solid fa-bottle-water me-3"></i> {{ state?.appData?.data?.centerStats?.plasticRecycled | unitConversion: "KG" }} kg</span>
                    <span class="badge badge-soft-plastic">Plastic Recycled</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="h5"><i class="fa-solid fa-wine-glass-empty me-3"></i> {{ state?.appData?.data?.centerStats?.glassRecycled | unitConversion: "KG" }} kg</span>
                    <span class="badge badge-soft-glass h5">Glass Recycled</span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center mb-3">
                    <span class="me-2 h5"><i class="fa-regular fa-newspaper me-2"></i>  {{ state?.appData?.data?.centerStats?.paperRecycled | unitConversion: "KG" }} kg</span>
                    <span class="badge badge-soft-paper h5">Paper Recycled</span>
                  </li>
                </ul>

<!--                <div class="view-more-tab justify-content-center" >View More</div>-->
              </div>


            </div>

            <!-- Reward Points Card -->
            <div class="card border rounded-3 mt-3">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <div>
                    <h5 class="card-title mb-0">My Current Reward Points</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Points obtained up until now</h6>
                  </div>
                  <div class="h2">
                    <i class="fa-solid fa-award"></i>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="me-2 h4">{{ state?.appData?.data?.rewardPoints }}</span>

                        <div *ngIf="earnedRewardPoints !== null" class="mb-3">
                          <span class="mt-1 h3" style="color: #28a745"> + {{ earnedRewardPoints }} </span>
                        </div>

                      </li>
                    </ul>
                  </div>
                  <div>
                    <!-- Redeem Button -->
                    <button mat-flat-button style="background-color: #A01540FF; color: white" [disabled]="isLoading$ | async">
                      <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      <span *ngIf="!(isLoading$ | async)">Redeem</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Sustainability Index Card -->
            <div class="card border rounded-3 mt-3">
              <div class="card-body">
                <div class="d-flex align-items-center justify-content-between mb-3">
                  <div>
                    <h5 class="card-title mb-0">My Sustainability Index for May</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Your contribution to a greener planet</h6>
                  </div>
                  <div class="h3">
                    <i style="color: #28a745" class="fa-brands fa-envira"></i>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="me-2 h4">{{ userSustainabilityIndex }}%</span>
                        <div *ngIf="earnedRewardPoints !== null" class="mb-3">
                          <span class="mt-1 h3" style="color: #28a745"> + {{ earnedSustainabilityIndex}} </span>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <!-- Learn More Button -->
                    <button mat-flat-button style="background-color: #A01540FF; color: white" [disabled]="isLoading$ | async">
                      <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      <span *ngIf="!(isLoading$ | async)">Learn More</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-8">


            <div class="card border rounded-3 mb-3">
              <div class="card-body">
                <h5 class="card-title">Profile Details</h5>
                <form #updateCenterForm="ngForm">
                  <input type="hidden" [ngModel]="state?.appData?.data?.center?.centerId" name="id" [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)">
                  <input type="hidden" [ngModel]="state?.appData?.data?.center?.createdAt" name="createdAt" [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)">
                  <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Center Name</label>
                    <div class="col-sm-9">
                      <input type="text" [ngModel]="state?.appData?.data?.center?.name" name="name" [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" class="form-control">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Contact</label>
                    <div class="col-sm-9">
                      <input type="text" [ngModel]="state?.appData?.data?.center?.contact" name="contact" [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" class="form-control">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">County</label>
                    <div class="col-sm-9">
                      <input type="text" [ngModel]="state?.appData?.data?.center?.county" name="county" [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" class="form-control">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">City</label>
                    <div class="col-sm-9">
                      <input type="text" [ngModel]="state?.appData?.data?.center?.city" name="phone" [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" class="form-control">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Address</label>
                    <div class="col-sm-9">
                      <input type="text" [ngModel]="state?.appData?.data?.center?.address" name="address" [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" class="form-control">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Opening Hour</label>
                    <div class="col-sm-9">
                      <input type="text" [ngModel]="state?.appData?.data?.center?.openingHour" name="county" [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" class="form-control">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Closing Hour</label>
                    <div class="col-sm-9">
                      <input type="text" [ngModel]="state?.appData?.data?.center?.closingHour" name="county" [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" class="form-control">
                    </div>
                  </div>

                  <button [disabled]="state?.appData?.data?.user.roleName === 'ROLE_USER' || (isLoading$ | async)" type="submit" class="btn btn-primary float-end">
                    <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="margin-right: 5px;"></span>
                    <span *ngIf="isLoading$ | async">Loading...</span>
                    <span *ngIf="!(isLoading$ | async)">Update</span>
                  </button>
                </form>
              </div>
            </div>

            <div class="card border rounded-3 mb-3">
              <div class="card-body">
                <h5 class="card-title">New Recycling Activity</h5>

                <form [formGroup]="recyclingForm" (ngSubmit)="contribute()">
                  <div class="row">
                    <!-- Column 1: Recycled Material Type -->
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Recycled Material Type</label>
                      <select formControlName="recycledMaterialType" class="form-select">
                        <option *ngFor="let material of acceptedMaterials" >{{ material.name }}</option>
                      </select>
                    </div>

                    <!-- Column 2: Preferred Unit Measure -->
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Preferred Unit Measure</label>
                      <select formControlName="unitMeasure" class="form-select">
                        <option *ngFor="let unit of unitMeasuresMap[recycledMaterialTypeValue]" [value]="unit.value">{{ unit.label }}</option>
                      </select>
                    </div>

                    <!-- Column 3: Amount -->
                    <div class="col-md-4 mb-3">
                      <label class="form-label">Amount</label>
                      <input type="number" formControlName="amount" class="form-control">
                    </div>
                  </div>

                  <!-- Display Added Value -->
                  <div *ngIf="earnedRewardPoints !== null && earnedSustainabilityIndex != null" class="mb-3">
                    <div class="alert alert-success" role="alert">
                      + {{ earnedRewardPoints }} Reward Points for recycling
                      <br>
                      + {{ earnedSustainabilityIndex }} Sustainability Impact earned
                    </div>
                  </div>

                  <!-- Button to Contribute-->
                  <div class="row">
                    <div class="col-md-12 d-flex justify-content-end">
                      <button mat-flat-button style="background-color: #28a745; color: white;" [disabled]="recyclingForm.invalid">
                        <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span *ngIf="!(isLoading$ | async)">Contribute</span>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-12">
            <div class="card border rounded-3 mt-3">
              <div class="card-body">
                <h5 class="card-title">My Activities At {{ state?.appData?.data?.center?.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <table class="table">
                  <thead style="color: white; background-color: #A01540" class="table-responsive">
                  <tr>
                    <th scope="col">Activity ID</th>
                    <th scope="col"> Recycled Material</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
<!--                                        <th scope="col">Action</th>-->
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let activity of state?.appData?.data?.activities">
                    <td>{{ activity.activityId }}</td>
                    <td>{{ activity.recycledMaterial }}</td>
                    <td>${{ activity.amount }}</td>
                    <td>
                      RECEIVED
                    </td>
                    <td>{{ activity.createdAt | date: 'mediumDate' }}</td>

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Center Stats Modal -->
      <ng-template #centerStatsModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Center Stats</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="me-2 h3"><i class="fa-solid fa-users me-2"></i> {{ state?.appData?.data?.centerStats?.recyclersNumber }} </span>
              <span class="modal-badge badge-soft-recyclers">Active Recyclers</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="me-2 h3"><i class="fa-solid fa-recycle me-2"></i>  {{ state?.appData?.data?.centerStats?.activitiesNumber }} </span>
              <span class="modal-badge badge-soft-activities">Recycling Activities</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="me-2 h3"><i class="fa-solid fa-bottle-water me-3"></i>  {{ state?.appData?.data?.centerStats?.plasticRecycled | unitConversion: "KG" }} kg</span>
              <span class="modal-badge badge-soft-plastic h3">Plastic Recycled</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="me-2 h3"><i class="fa-solid fa-wine-glass-empty me-3"></i>  {{ state?.appData?.data?.centerStats?.glassRecycled | unitConversion: "KG" }} kg</span>
              <span class="modal-badge badge-soft-glass h5">Glass Recycled</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center mb-3">
              <span class="me-2 h3"> <i class="fa-regular fa-newspaper me-2"></i> {{ state?.appData?.data?.centerStats?.paperRecycled | unitConversion: "KG" }} kg</span>
              <span class="modal-badge badge-soft-paper">Paper Recycled</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="me-2 h3"> <i class="fa-regular fa-trash-can me-2"></i> {{ state?.appData?.data?.centerStats?.aluminiumRecycled | unitConversion: "KG" }} kg</span>
              <span class="modal-badge badge-soft-aluminium h3">Aluminum Recycled</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span class="me-2 h3"><i class="fa-solid fa-layer-group"></i>  {{ state?.appData?.data?.centerStats?.metalsRecycled | unitConversion: "KG" }} kg</span>
              <span class="modal-badge badge-soft-metals">Metals Recycled</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center mb-3">
              <span class="me-2 h3"><i class="fa-solid fa-car-battery me-2"></i> {{ state?.appData?.data?.centerStats?.electronicsRecycled | unitConversion: "KG" }} kg</span>
              <span class="modal-badge badge-soft-ewaste">Electronics Recycled</span>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
        </div>
      </ng-template>
    </section>
  </ng-container>
</ng-container>
