.disabled {
  pointer-events: none;
  opacity: 0.6;
}

body {
  margin-top: 20px;
  background: #eee;
}

.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.avatar.sm {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 0.818125rem;
}

.table-nowrap .table td,
.table-nowrap .table th {
  white-space: nowrap;
}

.table > :not(caption) > * {
  padding: 0.75rem 1.25rem;
  border-bottom-width: 1px;
}


.accepted-materials {
  display: flex;
  gap: 5px; /* Adjust the spacing between badges as needed */
}


.order-card {
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 80%;
}

.bg-c-blue {
  background: linear-gradient(45deg, rgba(23, 168, 201, 0.89), rgba(71, 120, 211, 0.91));
}

.bg-c-green {
  background: linear-gradient(45deg, rgba(27, 150, 99, 0.93), rgba(73, 210, 148, 0.94));
}

.bg-c-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
  background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}



.f-right {
  float: right;
  margin-top: 30px;
}

