<ng-container *ngIf="(homeState$ | async) as state" [ngSwitch]="state.dataState">

  <!-- Main Content -->
  <section class="main-section">
    <app-navbar [user]="state?.appData?.data?.user"></app-navbar>

    <div style="margin-top: 90px"></div>


    <ng-container *ngSwitchCase="DataState.LOADED">

      <app-stats
        [activeRecyclers]="state?.appData?.data?.appStats?.activeRecyclersNumber || 0"
        [userRewardPoints]="state?.appData?.data?.userRewardPoints || 0"
        [recyclersRewardPoints]="state?.appData?.data?.appStats?.monthlyRewardPoints || 0"
      ></app-stats>

      <div class="container mt-3">
        <div class="row">
          <div class="col">
            <h4 class="fw-bold text-start">Recycling Centers in <span style="color: #A01540FF">{{state?.appData?.data?.user?.county}}</span> ({{ state?.appData?.data?.page?.totalElements }})</h4>
          </div>
          <div class="col text-end">
            <button
              mat-flat-button
              [matTooltipShowDelay]="500"
              [matTooltipHideDelay]="500"
              matTooltip="Create a New Recycling Center with which users can intercat with."
              (click)="navigateToCreateCenter()"
              style="background-color: #28a745; color: white; margin-right: 10px"
              class="m-lg-2-2"
            >
              <i class="fa-regular fa-square-plus"></i> New Center
            </button>

            <button
              mat-flat-button
              [matTooltipShowDelay]="500"
              [matTooltipHideDelay]="500"
              matTooltip="View All Recycling Centers"
              (click)="navigateToCentersView()"
              style="background-color: #A01540FF; color: white"
            >
              <i class="fa-solid fa-list-ul"></i> More</button>
          </div>
        </div>

        <div *ngIf="false" [formGroup]="tableFilterForm" (ngSubmit)="searchCenters()" class="invisible-form">
          <select formControlName="sortBy" class="form-control">
            <option value="createdAt">Created At</option>
            <option value="name">Center Name</option>
            <option value="contact">Contact Info</option>
            <option value="county">County</option>
            <option value="city">City</option>
            <option value="acceptedMaterials">Accepted Materials</option>
            <option value="openingHour">Opening Hour</option>
            <option value="closingHour">Closing Hour</option>
          </select>

          <select formControlName="sortOrder" class="form-control">
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
          </select>
        </div>

        <!-- Table Section -->
        <div class="table-responsive mt-3">
          <table matSort (matSortChange)="sort($event)"  class="table table-hover table-bordered">
            <!-- Table Header -->
            <thead class="bg-gradient text-white">
            <tr>
              <th class="text-center" scope="col" style="width: 6%;">Photo</th>
              <th scope="col" mat-sort-header="name" style="width: 15%;">Center Name</th>
              <th scope="col" style="width: 15%;">Contact Information</th>
              <th scope="col" mat-sort-header="county" style="width: 10%;">County</th>
              <th scope="col" mat-sort-header="city" style="width: 10%;">City</th>
              <th scope="col" mat-sort-header="materials" class="text-center" style="width: 20%;">Accepted Materials</th>
              <th class="text-center" scope="col" style="width: 12%;">Working Intervals</th>
              <th scope="col" style="width: 6%;" class="text-center" >Engage</th>
            </tr>
            </thead>
            <!-- Table Body -->
            <tbody *ngFor="let center of state?.appData?.data?.page?.content; trackBy: trackByCenter" class="table-body">
            <tr class="cell-1">
              <td  class="text-center"><img
                [src]="center.imageUrl || 'https://ui-avatars.com/api/?background=random&name=' + (center.name || '')"
                alt="" width="42" height="42" class="rounded-circle"></td>
              <td> <strong style="color:#A01540;">{{ center.name }}</strong></td>
              <td>{{ center.contact }}</td>
              <td>{{ center.county }}</td>
              <td>{{ center.city }}</td>
              <td>
                <div class="accepted-materials">
                  <ng-container *ngFor="let material of center | acceptedMaterials">
                    <span class="badge mb-0" [ngClass]="material.badgeClass">{{ material.name }}</span>
                  </ng-container>
                </div>
              </td>
              <td class="text-center" [ngClass]="{ ' text-success': isCenterOpen(center), ' text-danger': !isCenterOpen(center) }">
                <ng-container *ngIf="center.alwaysOpen; else hourInterval">
                  <strong>Open Always</strong>
                </ng-container>

                <ng-template #hourInterval>
                  <strong>{{ center.openingHour | slice: 0:5 }} - {{ center.closingHour | slice: 0:5 }}</strong>
                </ng-template>
              </td>
              <td class="text-center">
                <button type="button"
                        [matTooltipShowDelay]="800"
                        [matTooltipHideDelay]="800"
                        matTooltip="View Recycling Center details, view your past activities to the center and create a recylcing activity"
                        [routerLink]="['/centers', center.centerId]"
                        class="btn" style="background-color: #28a745; color: #fff;"
                >
                  <i class="fa-solid fa-recycle"></i>  </button>
              </td>
            </tr>
            </tbody>
          </table>

          <ngb-alert *ngIf="state?.appData?.data?.page?.content.length === 0" type="info" [dismissible]="false">
            There are currently no recycling centers <strong>{{ state?.appData?.data?.user?.county }}</strong>.
          </ngb-alert>
        </div>

        <!-- Pagination -->
        <nav *ngIf="state?.appData?.data?.page.totalPages > 0" class="pagination-container">
          <ngb-pagination
            [(page)]="currentPage"
            [collectionSize]="state?.appData?.data?.page.totalElements"
            [pageSize]="5"
            [maxSize]="3"
            [rotate]="true"
            [boundaryLinks]="false"
            [ellipses]="true"
            (pageChange)="goToPage($event)"
            class="pagination justify-content-end"
          >
            <ng-template ngbPaginationPrevious><i class="fa-solid fa-angle-left"></i> Prev</ng-template>
            <ng-template ngbPaginationNext>Next <i class="fa-solid fa-angle-right"></i></ng-template>
          </ngb-pagination>
        </nav>
      </div>

      <div class="container mt-3">
        <div class="row">
          <div class="col-md-6 col-xl-6">
            <div class="card bg-c-blue order-card">
              <div class="card-block" [routerLink]="['/vouchers']">
                <h5 class="m-b-10"><i class="fa-solid fa-ticket"></i> My Vouchers</h5>
                <!--              <h2 class="text-right"><span>486</span></h2>-->
                <p class="m-b-0">I need <span style="font-size: 18px"><strong>245</strong></span> more reward Points Needed Until I A Voucher</p>
                <p class="m-b-0"><span class="f-right">View More</span></p>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xl-6">
            <div class="card bg-c-green order-card">
              <div class="card-block" [routerLink]="['/ecolearn']">
                <h5 class="m-b-20"><i class="fa-solid fa-lightbulb"></i> Eco Learn Daily</h5>
                <span class="text-right"><p>{{ state?.appData?.data?.ecoTip }}</p></span>
                <p class="m-b-0"><span class="f-right">View More</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </ng-container>

    <ng-container *ngSwitchCase="DataState.LOADING">
      <mat-spinner></mat-spinner>
    </ng-container>

    <ng-container *ngSwitchCase="DataState.ERROR">
      <ngb-alert [dismissible]="false" type="danger">
        <strong>An unexpected error occurred. </strong> Please try again later.
      </ngb-alert>
    </ng-container>


  </section>
</ng-container>

