<ng-container *ngIf="(voucherDetailsState$ | async) as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="DataState.LOADED">
    <app-navbar [user]="state?.appData?.data?.user"></app-navbar>
    <div style="margin-top: 90px"></div>
    <section>
      <div class="container">
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-4">
          <ol class="breadcrumb">
            <li class="breadcrumb-item" ><a [routerLink]="['/']" style="color:#208c38">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/vouchers']" style="color: #208c38">Vouchers</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ state?.appData?.data?.voucher.uniqueCode }}</li>
          </ol>
        </nav>
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex align-items-center mb-3">
              <button class="btn btn-danger me-2"
                      type="button"
                      style="font-weight: 500;"
                      (click)="exportAsPDF()"
                      [matTooltipShowDelay]="500"
                      [matTooltipHideDelay]="500"
                      matTooltip="Download PDF in a nice PDF format"
              >
                <i class="bi bi-file-earmark-pdf-fill"></i>
                Download (PDF)
              </button>

              <button class="btn btn-success redeem-button"
                      style="font-weight: 500;"
                      [disabled]="(this.voucherStatus !== 'AVAILABLE')"
                      (click)="redeem()"
                      [matTooltipShowDelay]="500"
                      [matTooltipHideDelay]="500"
                      matTooltip="Redeem Voucher at a Business Partner"
              >
                <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Redeem
              </button>

              <button mat-icon-button
                      [matTooltipShowDelay]="500"
                      [matTooltipHideDelay]="500"
                      matTooltip="Voucher Earning & Redemption Guidelines"
                      class="favorite-button"
                      (click)="openVoucherGuidelines()"
              >
                <mat-icon style="color: #a01540">info</mat-icon>
              </button>
            </div>

            <div class="voucher-pane mt-3" id="voucher-pane">
              <div class="voucher-header">
                <div class="voucher-company">
                  <h2 class="voucher-title"> {{ state?.appData?.data?.voucher.voucherType.name }} - Voucher <span class="voucher-code">#{{ state?.appData?.data?.voucher.uniqueCode }}</span></h2>
                </div>
              </div>
              <hr>
              <div id="voucher">
                <div class="voucher-header">
                  <div class="voucher-from">
                    <small>from</small>
                    <address class="address-details">
                      <strong class="text-inverse">.msg-recycling-rewards.io</strong><br>
<!--                      Calea Torontalului 1A,<br>-->
                      Address: 300668, Timisoara, Romania<br>
                      Email: recycling.rewards@msg.com<br>
                      Phone: +40 733 900 010<br>
                    </address>
                  </div>
                  <div class="voucher-to">
                    <small>to</small>
                    <address class="address-details">
                      <strong class="text-inverse">{{ state?.appData?.data?.user.firstName }} {{ state?.appData?.data?.user.lastName }}</strong><br>
                      Email: {{ state?.appData?.data?.user.email }} <br>
                      Phone: {{ state?.appData?.data?.user.phone || " -" }} <br>
                    </address>
                  </div>
                  <div class="voucher-date">
                    <img src="../../../../assets/msg-logo.png" width="100px"  alt=".MSG" style="margin-top: -200px">
                    <br>
                    <div class="date text-inverse text-muted">
                      Earn Date: Jan 6 2024 {{ state?.appData?.data?.voucher?.expiresAt | date: 'shortTime' }}
                    </div>
                    <div class="date text-inverse text-muted">
                      Expires At: {{ state?.appData?.data?.voucher?.expiresAt | date: 'mediumDate' }} {{ state?.appData?.data?.voucher?.expiresAt | date: 'shortTime' }}
                    </div>
                    <div *ngIf="voucherStatus == 'REDEEMED'" class="date text-inverse text-muted">
                      Redeem Date: {{ state?.appData?.data?.voucher?.createdAt | date: 'mediumDate' }}
                    </div>

                    <div class="mt-3">
                      <strong></strong> <span [innerHtml]="state?.appData?.data?.voucher | voucherStatus"></span>
                    </div>
                  </div>
                </div>
                <div class="voucher-content">
                  <div class="voucher-price">
                    <div class="voucher-price-left">
                      <div class="voucher-price-row">
                        <div class="sub-price">
                          <small>SUSTAINABILITY  INDEX</small>
                          <span class="text-inverse text-muted">+ {{ state?.appData?.data?.voucher?.voucherType?.thresholdPoints | sustainabilityIndex}}%</span>
                        </div>
                        <div class="sub-price">
                          <small>MONTH OF ACTIVITY</small>
                          <span class="text-inverse text-muted">JANUARY 2024</span>
                        </div>
                      </div>
                    </div>
                    <div class="voucher-price-right">
                      <small>REWARD POINTS</small>
                      <span class="f-w-600"><strong>{{ state?.appData?.data?.voucher?.voucherType.thresholdPoints }}</strong></span>
                    </div>
                  </div>
                </div>
                <div class="voucher-footer">
                  <p class="text-center m-b-5 f-w-600">
                    Thank you for making a positive impact on the environment!
                  </p>
                  <div class="redemption-instructions text-center">
                    <strong>Redemption Instructions:</strong><br>
                    To redeem this voucher, simply visit our partner businesses and present it at the checkout. For detailed redemption guidelines, contact us or visit our website at <strong><a href="#" target="_blank" style="color: #28a745">msg-recycling-rewards.io</a></strong>.
                  </div>
                  <p class="text-center contact-details">
                    <span><i class="fa fa-leaf"></i> Visit Us: msg-recycling-rewards.io</span> <br>
                    <span><i class="fa-solid fa-envelope"></i> Email: recycling.rewards@msg.com</span><br>
                    <span><i class="fa-solid fa-phone"></i> Call: +40 733 900 010 / +40 743 211 312</span><br>
                  </p>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</ng-container>
