.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}


th.sortable {
  cursor: pointer;
}

/*th.filtered::after {*/
/*  content: ' •';*/
/*}*/

/* Add your custom styles here */
.margin-top-90 {
  margin-top: 90px;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -10px;
}

.chip-set{
  margin-left: 12px;
}

.btn-export {
  margin-left: 12px;
}

.btn-create {
  margin-right: 3px;
}

.btn-group-container {
  margin-right: 1px;
}

.filter-btn {
  border-color: #A01540;
  color: #A01540;
}

.filter-btn:hover {
  background-color: #A01540;
  color: white;
}

.filter-btn .active {
  background-color: #A01540;
  color: white;
}

.pagination-container {
  justify-content: flex-end;
}

.table-header {
  background: linear-gradient(#28a745, #218838);
  color: white;
}

.table-body {
  background-color: #f8f9fa;
}

.pagination {
  justify-content: flex-end;
}

.alert-info {
  margin-top: 3rem;
}

.filter-btn.active {
  background-color: #A01540;
  color: white;
}

.badge-green {
  background-color: green;
  color: white;
}


