
.disabled {
  pointer-events: none;
  opacity: 0.6;
}

body {
  margin-top: 20px;
  background: #eee;
}

.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.avatar.sm {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 0.818125rem;
}

.table-nowrap .table td,
.table-nowrap .table th {
  white-space: nowrap;
}

.table > :not(caption) > * {
  padding: 0.75rem 1.25rem;
  border-bottom-width: 1px;
}


.highlight {
  background-color: yellow;
  font-weight: bold;
}
/* Add these styles to your component's CSS file */

.accepted-materials {
  display: flex;
  gap: 5px; /* Adjust the spacing between badges as needed */
}


