<ng-container *ngIf="(vouchersState$ | async) as state" [ngSwitch]="state.dataState"
              xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

  <app-navbar [user]="state?.appData?.data?.user"></app-navbar>
  <div style="margin-top: 90px"></div>

  <ng-container *ngSwitchCase="DataState.LOADED">
    <section class="container mt-4">
      <nav aria-label="breadcrumb" style="margin-top: 8px;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"> <a class="navigation-link"  [routerLink]="['/']">Home</a> </li>
          <li class="breadcrumb-item active"> Vouchers </li>
        </ol>
      </nav>
      <div class="row">
        <div class="col">
          <h4 class="fw-bold text-start">Earned Vouchers</h4>
        </div>

        <!-- Search Form -->
        <form [formGroup]="searchForm" (ngSubmit)="searchVouchersSubmit($event)" class="d-flex justify-content-end">
          <div class="d-flex align-items-center">
            <label class="visually-hidden">Voucher Code</label>
            <input type="text" formControlName="code" class="form-control mt-3" style="margin-bottom: -8px" placeholder="Voucher Code" />
          </div>

          <select formControlName="sortBy" class="invisible-form">
              <option value="createdAt">Created At</option>
              <option value="createdAt">Expires At</option>
              <option value="code">Voucher Code</option>
              <option value="type">Voucher Type</option>
          </select>

          <select formControlName="sortOrder" class="invisible-form">
              <option value="asc">Ascending</option>
              <option value="desc">Descending</option>
          </select>

          <input formControlName="redeemed" class="invisible-form" type="checkbox">
          <input formControlName="expired" class="invisible-form" type="checkbox">

          </form>
      </div>




      <nav ngbNav [animation]="false" #nav="ngbNav" class="nav-pills mb-4" style="margin-top: -30px;">
        <ng-container ngbNavItem *ngFor="let tab of ['Available', 'Redeemed', 'Expired', 'All Vouchers']" >
          <button ngbNavLink mat-button class="nav-cell me-2" (click)="updateActiveTab(tab)">{{ tab }}</button>
          <ng-template ngbNavContent>
            <div class="col-xm-12">

              <!-- Table for each tab -->
              <table matSort (matSortChange)="sort($event)" class="table table-hover table-bordered">
                <thead>
                <tr>
                  <th mat-sort-header="uniqueCode" style="width: 10%;" scope="col">Voucher Code</th>
                  <th mat-sort-header="voucherType" style="width: 15%;" scope="col">Type</th>
                  <th mat-sort-header="voucherType.threshold" style="width: 12%;" scope="col">Threshold</th>
                  <th mat-sort-header="status" style="width: 8%;" scope="col">Status</th>
                  <th mat-sort-header="createdAt" style="width: 12%;" scope="col">Earned On</th>
                  <th mat-sort-header="expiresAt" style="width: 12%;" scope="col">Expires At</th>
                  <th *ngIf="tab === 'Redeemed' || tab === 'All Vouchers'" mat-sort-header="redeemedAt" style="width: 12%;" scope="col">Redeemed At</th>
                  <th style="width: 8%;" scope="col">Action</th>
                </tr>
                </thead>

                <tbody class="table-body">
                <tr *ngFor="let voucher of state?.appData?.data?.page?.content" class="cell-1">
                  <td  class="copy-to-clipboard"
                       (click)="copyToClipboard(voucher.uniqueCode)"
                       ngxClipboard
                       [cbContent]="voucher.uniqueCode">
                    <span class="voucher-code">{{ voucher.uniqueCode }}</span>
                    <i class="fa-regular fa-copy"></i>
                  </td>
                  <td>{{ voucher.voucherType?.name }}</td>
                  <td>{{ voucher.voucherType?.thresholdPoints }}</td>
                  <td [innerHTML]="voucher | voucherStatus"></td>
                  <td>{{ voucher.createdAt | date: 'mediumDate' }}</td>
                  <td>{{ voucher.expiresAt | date: 'mediumDate' }}</td>
                  <td *ngIf="tab === 'Redeemed' || tab === 'All Vouchers' " >
                    {{ voucher.redeemedAt === null ? '-' :  voucher.redeemedAt | date: 'mediumDate'}}
                  </td>
                  <td class="text-center">
                    <button type="button" mat-flat-button [routerLink]="['/vouchers', voucher.uniqueCode]"  class="btn" style="background-color: #28a745; color: #fff;" *ngIf="isVoucherRedeemable(voucher)"><i class="fa-solid fa-leaf"></i></button>
                    <button type="button" mat-flat-button [routerLink]="['/vouchers', voucher.uniqueCode]" class="btn" style="background-color: #948a8a; color: #fff;" *ngIf="!isVoucherRedeemable(voucher)"><i class="fa-solid fa-info"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>

              <ngb-alert *ngIf="state?.appData?.data?.page?.content.length === 0" type="info" [dismissible]="false">
                No vouchers available for the selected tab.
              </ngb-alert>
            </div>
          </ng-template>
        </ng-container>

        <button mat-icon-button
                [matTooltipShowDelay]="500"
                [matTooltipHideDelay]="500"
                style="margin-top: -8px"
                matTooltip="Voucher Earning & Redemption Guidelines"
                (click)="openVoucherGuidelines()"
        >
          <mat-icon style="color: #a01540">info</mat-icon>
        </button>
      </nav>



      <div [ngbNavOutlet]="nav" class="mt-1"></div>

      <!-- Pagination -->
      <nav *ngIf="state?.appData?.data?.page.totalPages > 0" class="pagination-container">
        <ngb-pagination
          [(page)]="currentPage"
          [collectionSize]="state?.appData?.data?.page.totalElements"
          [maxSize]="3"
          [rotate]="true"
          [boundaryLinks]="false"
          [ellipses]="true"
          (pageChange)="goToPage($event)"
          class="pagination justify-content-end"
        >
          <ng-template ngbPaginationPrevious><i class="fa-solid fa-angle-left"></i> Prev</ng-template>
          <ng-template ngbPaginationNext>Next <i class="fa-solid fa-angle-right"></i></ng-template>
        </ngb-pagination>
      </nav>
    </section>
  </ng-container>

  <ng-container *ngSwitchCase="DataState.ERROR">
    <div class="container mt-4">
      <ngb-alert [dismissible]="false" type="danger">
        <strong>An unexpected error occurred. </strong> Please try again later.
      </ngb-alert>
    </div>
  </ng-container>
</ng-container>
