<ng-container>
  <app-navbar></app-navbar>
  <div class="eco-learn-container">
    <div class="posts-container">
      <div  class="post-card">
        <div class="post-header">
          <h3 class="post-title">TITLE HERE</h3>
          <p class="post-details">
<!--            {{post.createdAt | date: 'longDate'}} • {{post.category}} • {{post.contentType}}-->
            created at here •
          </p>
        </div>
        <div class="post-body">
<!--          <p class="post-text" [class.collapsed]="shouldCollapse(post.summary)">{{post.summary}}</p>-->
<!--          <a *ngIf="shouldCollapse(post.summary)" (click)="toggleView(post)" class="view-more">View More</a>-->
<!--          <img *ngIf="post.mediaType === 'image'" [src]="post.mediaUrl" alt="Post media" class="post-media">-->
          <p class="post-text">
<!--            {{post.summary}}-->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Porttitor eget dolor morbi non arcu risus quis varius quam.
          </p>
<!--          <img *ngIf="post.mediaType === 'image'" [src]="post.mediaUrl" alt="Post media" class="post-media">-->
          <img src="https://www.bootdey.com/image/1020x480/AAB611/000000" class="img-responsive post-media">
          <!-- Add other media types as needed -->
        </div>
        <div class="post-footer">
          <button class="icon-btn" ><i class="fas fa-thumbs-up"></i></button>
          <button class="icon-btn" ><i class="fas fa-share-alt"></i></button>
          <button class="icon-btn" ><i class="fas fa-bookmark"></i></button>
        </div>
      </div>
      <div  class="post-card">
        <div class="post-header">
          <h3 class="post-title">TITLE HERE</h3>
          <p class="post-details">
            <!--            {{post.createdAt | date: 'longDate'}} • {{post.category}} • {{post.contentType}}-->
            created at here •
          </p>
        </div>
        <div class="post-body">
          <!--          <p class="post-text" [class.collapsed]="shouldCollapse(post.summary)">{{post.summary}}</p>-->
          <!--          <a *ngIf="shouldCollapse(post.summary)" (click)="toggleView(post)" class="view-more">View More</a>-->
          <!--          <img *ngIf="post.mediaType === 'image'" [src]="post.mediaUrl" alt="Post media" class="post-media">-->
          <p class="post-text">
            <!--            {{post.summary}}-->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Porttitor eget dolor morbi non arcu risus quis varius quam.
          </p>
          <!--          <img *ngIf="post.mediaType === 'image'" [src]="post.mediaUrl" alt="Post media" class="post-media">-->
          <img src="https://www.bootdey.com/image/1020x480/AAB611/000000" class="img-responsive post-media">
          <!-- Add other media types as needed -->
        </div>
        <div class="post-footer">
          <button class="icon-btn" ><i class="fas fa-thumbs-up"></i></button>
          <button class="icon-btn" ><i class="fas fa-share-alt"></i></button>
          <button class="icon-btn" ><i class="fas fa-bookmark"></i></button>
        </div>
      </div>
      <div  class="post-card">
        <div class="post-header">
          <h3 class="post-title">TITLE HERE</h3>
          <p class="post-details">
            <!--            {{post.createdAt | date: 'longDate'}} • {{post.category}} • {{post.contentType}}-->
            created at here •
          </p>
        </div>
        <div class="post-body">
          <!--          <p class="post-text" [class.collapsed]="shouldCollapse(post.summary)">{{post.summary}}</p>-->
          <!--          <a *ngIf="shouldCollapse(post.summary)" (click)="toggleView(post)" class="view-more">View More</a>-->
          <!--          <img *ngIf="post.mediaType === 'image'" [src]="post.mediaUrl" alt="Post media" class="post-media">-->
          <p class="post-text">
            <!--            {{post.summary}}-->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Porttitor eget dolor morbi non arcu risus quis varius quam.
          </p>
          <!--          <img *ngIf="post.mediaType === 'image'" [src]="post.mediaUrl" alt="Post media" class="post-media">-->
          <img src="https://www.bootdey.com/image/1020x480/AAB611/000000" class="img-responsive post-media">
          <!-- Add other media types as needed -->
        </div>
        <div class="post-footer">
          <button class="icon-btn" ><i class="fas fa-thumbs-up"></i></button>
          <button class="icon-btn" ><i class="fas fa-share-alt"></i></button>
          <button class="icon-btn" ><i class="fas fa-bookmark"></i></button>
        </div>
      </div>
      <div  class="post-card">
        <div class="post-header">
          <h3 class="post-title">TITLE HERE</h3>
          <p class="post-details">
            <!--            {{post.createdAt | date: 'longDate'}} • {{post.category}} • {{post.contentType}}-->
            created at here •
          </p>
        </div>
        <div class="post-body">
          <!--          <p class="post-text" [class.collapsed]="shouldCollapse(post.summary)">{{post.summary}}</p>-->
          <!--          <a *ngIf="shouldCollapse(post.summary)" (click)="toggleView(post)" class="view-more">View More</a>-->
          <!--          <img *ngIf="post.mediaType === 'image'" [src]="post.mediaUrl" alt="Post media" class="post-media">-->
          <p class="post-text">
            <!--            {{post.summary}}-->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Porttitor eget dolor morbi non arcu risus quis varius quam.
          </p>
          <!--          <img *ngIf="post.mediaType === 'image'" [src]="post.mediaUrl" alt="Post media" class="post-media">-->
          <img src="https://www.bootdey.com/image/1020x480/AAB611/000000" class="img-responsive post-media">
          <!-- Add other media types as needed -->
        </div>
        <div class="post-footer">
          <button class="icon-btn" ><i class="fas fa-thumbs-up"></i></button>
          <button class="icon-btn" ><i class="fas fa-share-alt"></i></button>
          <button class="icon-btn" ><i class="fas fa-bookmark"></i></button>
        </div>
      </div>
      <div  class="post-card">
        <div class="post-header">
          <h3 class="post-title">TITLE HERE</h3>
          <p class="post-details">
            <!--            {{post.createdAt | date: 'longDate'}} • {{post.category}} • {{post.contentType}}-->
            created at here •
          </p>
        </div>
        <div class="post-body">
          <!--          <p class="post-text" [class.collapsed]="shouldCollapse(post.summary)">{{post.summary}}</p>-->
          <!--          <a *ngIf="shouldCollapse(post.summary)" (click)="toggleView(post)" class="view-more">View More</a>-->
          <!--          <img *ngIf="post.mediaType === 'image'" [src]="post.mediaUrl" alt="Post media" class="post-media">-->
          <p class="post-text">
            <!--            {{post.summary}}-->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Porttitor eget dolor morbi non arcu risus quis varius quam.
          </p>
          <!--          <img *ngIf="post.mediaType === 'image'" [src]="post.mediaUrl" alt="Post media" class="post-media">-->
          <img src="https://www.bootdey.com/image/1020x480/AAB611/000000" class="img-responsive post-media">
          <!-- Add other media types as needed -->
        </div>
        <div class="post-footer">
          <button class="icon-btn" ><i class="fas fa-thumbs-up"></i></button>
          <button class="icon-btn" ><i class="fas fa-share-alt"></i></button>
          <button class="icon-btn" ><i class="fas fa-bookmark"></i></button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
