<ng-container *ngIf="(profileState$ | async) as state" [ngSwitch]="state.dataState">

  <app-navbar [user]="state?.appData?.data?.user"></app-navbar>
  <div style="margin-top: 90px"></div>

  <ng-container *ngSwitchCase="DataState.LOADED">
    <section>
      <div class="container">
        <nav aria-label="breadcrumb" style="margin-top: 8px;">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a class="navigation-link" [routerLink]="['/']">Home</a>
            </li>
            <li class="breadcrumb-item active"> Recyclers</li>
            <li aria-current="page"
                class="breadcrumb-item active"> {{ state?.appData?.data?.user?.firstName }} {{ state?.appData?.data?.user?.lastName }}
            </li>
          </ol>
        </nav>
        <div class="profile-container bg-white rounded-lg d-block d-sm-flex">
          <div class="profile-tab-nav border-right">
            <div class="p-4">
              <div class="profile-image text-center mb-3">
                <span style="position: relative">
                  <img
                    [src]="state?.appData?.data?.user?.imageUrl || 'https://img.freepik.com/free-icon/user_318-159711.jpg'"
                    alt="" class="profile-img"/>

                  <i (click)="fileInput.click()" class="bi bi-camera-fill right-position"></i>
                </span>
              </div>
              <h4
                class="text-center">{{ state?.appData?.data?.user?.firstName }} {{ state?.appData?.data?.user?.lastName }}</h4>
              <span
                class="text-muted">Recycler since {{ state?.appData?.data?.user?.createdAt | date: 'd MMM, y' }}</span>
            </div>
            <div aria-orientation="vertical" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
              <a aria-controls="profile" aria-selected="true" class="nav-link active" data-bs-target="#profile-tab"
                 data-bs-toggle="pill" id="profile" role="tab">
                <i class="bi bi-person-circle" style="margin-right: 12px;"></i> Profile
              </a>
              <a aria-controls="password" aria-selected="true" class="nav-link" data-bs-target="#password-tab"
                 data-bs-toggle="pill" id="password" role="tab">
                <i class="bi bi-key-fill" style="margin-right: 12px;"></i> Password Settings
              </a>
              <a aria-controls="security" aria-selected="true" class="nav-link" data-bs-target="#security-tab"
                 data-bs-toggle="pill" id="security" role="tab">
                <i class="bi bi-shield-shaded" style="margin-right: 12px;"></i> Authorization
              </a>
<!--              <a aria-controls="application" aria-selected="true" class="nav-link" data-bs-target="#account-settings-tab"-->
<!--                 data-bs-toggle="pill" id="account" role="tab">-->
<!--                <i class="bi bi-gear" style="margin-right: 12px;"></i> Account Settings-->
<!--              </a>-->
              <a aria-controls="notification" aria-selected="true" class="nav-link" data-bs-target="#notification-tab"
                 data-bs-toggle="pill" id="notification" role="tab">
                <i class="bi bi-lock-fill" style="margin-right: 12px;"></i> Authentication
              </a>

              <a aria-controls="notification-settings" aria-selected="true" class="nav-link"
                 data-bs-target="#notification-settings-tab" data-bs-toggle="pill" id="notification-settings"
                 role="tab">
                <i class="bi bi-bell" style="margin-right: 12px;"></i> Notification Settings
              </a>
            </div>
          </div>


          <div class="tab-content p-4 p-md-5" id="v-pills-tabContent" style="border-left: 1px solid #d4d0d0;">
            <div aria-labelledby="profile" class="tab-pane fade show active" id="profile-tab" role="tabpanel"
                 style="min-height: 510px;">
              <h3 class="mb-4">Profile Settings</h3>
              <form (ngSubmit)="updateProfile($event)" [formGroup]="profileForm">
                <div class="row">
                  <input formControlName="id" type="hidden">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>First Name</label>
                      <input class="form-control" formControlName="firstName" type="text">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Last Name</label>
                      <input [disabled]="state?.appData?.data?.user?.roleName === 'ROLE_USER' || (isLoading$ | async)"
                             class="form-control"
                             formControlName="lastName" name="lastName" type="text">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Email</label>
                      <input [disabled]="state?.appData?.data?.user?.roleName === 'ROLE_USER' || (isLoading$ | async)"
                             class="form-control"
                             formControlName="email" name="email" type="text">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Phone</label>
                      <input [disabled]="state?.appData?.data?.user?.roleName === 'ROLE_USER' || (isLoading$ | async)"
                             class="form-control"
                             formControlName="phone" name="phone" type="text">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>County</label>
                      <input
                        (typeaheadOnSelect)="onSelectCounty($event)"
                        [disabled]="state?.appData?.data?.user?.roleName === 'ROLE_USER' || (isLoading$ | async)"
                        [minLength]="0"
                        [typeaheadWaitMs]="0"
                        [typeahead]="counties"
                        class="form-control"
                        [contentEditable]="false"
                        formControlName="county"
                        placeholder="Select County"
                      />
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label>City</label>
                      <input
                        (typeaheadOnSelect)="onSelectCity($event)"
                        [disabled]="state?.appData?.data?.user?.roleName === 'ROLE_USER' || (isLoading$ | async)"
                        [minLength]="0"
                        [typeaheadWaitMs]="0"
                        [typeahead]="cities"
                        class="form-control"
                        [contentEditable]="false"
                        formControlName="city"
                        placeholder="Select City"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Bio</label>
                      <textarea [disabled]="state?.appData?.data?.user?.roleName === 'ROLE_USER' || (isLoading$ | async)"
                                class="form-control"
                                formControlName="bio" name="bio" rows="4"></textarea>
                    </div>
                  </div>
                </div>
                <div>
                  <button [disabled]="state?.appData?.data?.user?.roleName === 'ROLE_USER' ||
                          profileForm.invalid ||
                          profileForm.pristine ||
                          !isSelectedCountyValid() ||
                          !isSelectedCityValid() ||
                          (isLoading$ | async)"
                          class="btn btn-primary"
                          type="submit">

                    <span *ngIf="isLoading$ | async"
                          aria-hidden="true"
                          class="spinner-border spinner-border-sm"
                          role="status"
                          style="margin-right: 5px;">
                    </span>
                    <span *ngIf="isLoading$ | async"> Loading...</span>
                    <span *ngIf="!(isLoading$ | async)">Update</span>
                  </button>
                </div>
              </form>
            </div>


            <div aria-labelledby="password" class="tab-pane fade" id="password-tab" role="tabpanel"
                 style="min-height: 510px;">
              <h3 class="mb-4">Password Settings</h3>
              <form #updatePasswordForm="ngForm" (ngSubmit)="updatePassword(updatePasswordForm)">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Current password</label>
                      <input [disabled]="(isLoading$ | async)" class="form-control" name="currentPassword" ngModel
                             required type="password">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>New password</label>
                      <input [disabled]="(isLoading$ | async)" class="form-control" minlength="5" name="newPassword"
                             ngModel required type="password">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Confirm new password</label>
                      <input [disabled]="(isLoading$ | async)" class="form-control" minlength="5" name="confirmPassword"
                             ngModel required type="password">
                    </div>
                  </div>
                </div>
                <div>
                  <button [disabled]="updatePasswordForm.invalid || (isLoading$ | async)" class="btn btn-primary"
                          type="submit">
                    <span *ngIf="isLoading$ | async" aria-hidden="true" class="spinner-border spinner-border-sm"
                          role="status" style="margin-right: 5px;"></span>
                    <span *ngIf="isLoading$ | async">Loading...</span>
                    <span *ngIf="!(isLoading$ | async)">Update</span>
                  </button>
                </div>
              </form>
            </div>


            <div aria-labelledby="security" class="tab-pane fade" id="security-tab" role="tabpanel"
                 style="min-height: 510px;">
              <h3 class="mb-4">Authorization Settings</h3>
              <form #updateRolesForm="ngForm" (ngSubmit)="updateRole(updateRolesForm)">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label style="margin-bottom: 5px;">Role Name</label>
                      <select [disabled]="(isLoading$ | async)" [ngModel]="state?.appData?.data?.user?.roleName"
                              class="form-control select-cl" name="roleName"
                              required>

                        <option *ngFor="let role of state?.appData?.data?.roles"
                                [disabled]="(isLoading$ | async)"
                                [ngValue]="role.name"
                                [selected]="state?.appData?.data?.user?.roleName === role.name"
                                class="select-cl">{{ role.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label style="margin-bottom: 5px;">Role Permissions</label>
                      <input *ngFor="let permission of state?.appData?.data?.user?.permissions.split(',')"
                             [disabled]="true"
                             [value]="permission" class="form-control" style="margin-bottom: 5px;" type="text">
                    </div>
                  </div>
                </div>
                <div>
                  <button [disabled]="(isLoading$ | async)" class="btn btn-primary" type="submit">
                    <span *ngIf="isLoading$ | async" aria-hidden="true" class="spinner-border spinner-border-sm"
                          role="status" style="margin-right: 5px;"></span>
                    <span *ngIf="isLoading$ | async">Loading...</span>
                    <span *ngIf="!(isLoading$ | async)">Update</span>
                  </button>
                </div>
              </form>
            </div>
            <div aria-labelledby="application" class="tab-pane fade" id="account-settings-tab" role="tabpanel"
                 style="min-height: 510px;">
              <h3 class="mb-4">Account Settings</h3>
              <form #accountSettingsForm="ngForm" (ngSubmit)="updateAccountSettings(accountSettingsForm)">
                <input name="userId" type="hidden">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="form-check">
                        <input
                          [checked]="state?.appData?.data?.user?.enabled"
                          [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)"
                          [ngModel]="state?.appData?.data?.user?.enabled"
                          class="form-check-input" name="enabled" type="checkbox">
                        <label class="form-check-label">
                          Account Active
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          [checked]="state?.appData?.data?.user?.notLocked"
                          [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)"
                          [ngModel]="state?.appData?.data?.user?.notLocked"
                          class="form-check-input" name="notLocked" type="checkbox">
                        <label class="form-check-label">
                          Account Unlocked
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <button
                    [disabled]="!(state?.appData?.data?.user?.roleName === 'ROLE_SYSADMIN' || state?.appData?.data?.user?.roleName === 'ROLE_ADMIN') || (isLoading$ | async)"
                    class="btn btn-primary" type="submit">
                    <span *ngIf="isLoading$ | async" aria-hidden="true" class="spinner-border spinner-border-sm"
                          role="status" style="margin-right: 5px;"></span>
                    <span *ngIf="isLoading$ | async">Loading...</span>
                    <span *ngIf="!(isLoading$ | async)">Update</span>
                  </button>
                </div>
              </form>
            </div>

            <div aria-labelledby="notification" class="tab-pane fade" id="notification-tab" role="tabpanel"
                 style="min-height: 510px;">
              <h3 class="mb-4">Authentication Settings</h3>
              <p>These settings help keep your account more secure.</p>
              <div class="list-group mb-5 shadow">
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col">
                      <strong class="mb-2">Multi-Factor Authentication</strong>
                      <span *ngIf="state?.appData?.data?.user?.usingMfa" class="badge bg-success mx-3">Enabled</span>
                      <span *ngIf="!state?.appData?.data?.user?.usingMfa" class="badge bg-warning mx-3">Disabled</span>
                      <p class="text-muted mb-0">Set up Multi-factor Authentication (MFA) help keep your account more
                        secure</p>
                    </div>
                    <div class="col-auto">
                      <button (click)="toggleMfa()" [disabled]="(isLoading$ | async)" class="btn btn-primary btn-sm">
                        {{ state?.appData?.data?.user?.usingMfa ? 'Disable' : 'Enable' }}
                        <span *ngIf=" (isLoading$ | async)" aria-hidden="true" class="spinner-border spinner-border-sm"
                              role="status" style="margin-right: 5px;"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div aria-labelledby="notification-settings" class="tab-pane fade" id="notification-settings-tab"
                 role="tabpanel" style="min-height: 510px;">
              <h3 class="mb-4">Notification Settings</h3>
              <p>Manage your notification preferences within the application.</p>

              <div class="list-group mb-5 shadow">
                <!-- Email Notifications -->
                <div class="list-group-item">
                  <div class="row align-items-center">
                    <div class="col">
                      <strong class="mb-2">Email Notifications</strong>
                      <span *ngIf="state?.appData?.data?.user?.notificationsEnabled" class="badge bg-success mx-3">Enabled</span>
                      <span *ngIf="!state?.appData?.data?.user?.notificationsEnabled" class="badge bg-warning mx-3">Disabled</span>
                      <p class="text-muted mb-0">Receive email notifications for important updates</p>
                    </div>
                    <div class="col-auto">
                      <button (click)="toggleEmailNotifications()" [disabled]="(isLoading$ | async)"
                              class="btn btn-primary btn-sm">
                        {{ state?.appData?.data?.user?.notificationsEnabled ? 'Disable' : 'Enable' }}
                        <span *ngIf=" (isLoading$ | async)" aria-hidden="true" class="spinner-border spinner-border-sm"
                              role="status" style="margin-right: 5px;"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xl-12 mt-4">
            <div class="card" style="border-radius: 8px;">
              <div class="card-body">
                <h5 class="card-title">My Sustainability Stats</h5>
                <h6 class="card-subtitle mb-2 text-muted">Put here stats regarding the user reward points, etc. </h6>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </ng-container>

  <ng-container *ngSwitchCase="DataState.ERROR">
    <div class="container mt-4">
      <ngb-alert [dismissible]="false" type="danger">
        <strong>An unexpected error occurred. </strong> Please try again later.
      </ngb-alert>
    </div>
  </ng-container>
</ng-container>

<!-- profile image change form -->
<form #fileForm (change)="onFileSelected($event)" enctype="multipart/form-data" style="display:none;">
  <input #fileInput accept="image/*" id="image" name="image" placeholder="file" type="file"/>
</form>
