<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #A01540; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);">
  <div class="container">
    <a class="navbar-brand text-color" [routerLink]="['/']">
      <span class="brand-name"><i class="fa-solid fa-leaf"></i> .msgRecyclingRewards</span>
    </a>

    <button class="navbar-toggler" type="button" mat-button (click)="isNavbarOpen = !isNavbarOpen">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngClass]="{'show': isNavbarOpen}" (click)="isNavbarOpen = false">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" [routerLinkActive]="['active']" [matMenuTriggerFor]="centersMenu">
          <a class="nav-link">Centers</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/vouchers']">Vouchers</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/leaderboard']">Leaderboard</a>
        </li>

        <li class="nav-item" [matMenuTriggerFor]="challengesMenu">
          <a class="nav-link">Challenges</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/ecolearn']">EcoLearn</a>
        </li>

        <li class="nav-item" [matMenuTriggerFor]="userMenu">
          <a class="nav-link">
            <img [src]="user?.imageUrl || 'https://img.freepik.com/free-icon/user_318-159711.jpg'" alt="User Avatar" class="user-avatar-md rounded-circle" style="width: 28px; height: 28px;">
          </a>
        </li>
      </ul>

      <!-- Dropdown Menus -->
      <mat-menu #centersMenu="matMenu" class="submenu">
        <a mat-menu-item [routerLink]="['/centers/all']"><i class="bi bi-person-plus-fill"></i> All Centers</a>
        <a mat-menu-item [routerLink]="['/centers/all']"><i class="bi bi-people-fill"></i> My Favourites</a>
      </mat-menu>


      <mat-menu #challengesMenu="matMenu" class="submenu">
        <a mat-menu-item [routerLink]="['/challenges/all']"><i class="bi bi-person-plus-fill"></i> All Challenges</a>
        <a mat-menu-item [routerLink]="['/challenges/']"><i class="bi bi-people-fill"></i> My Challenges</a>
      </mat-menu>

      <mat-menu #userMenu="matMenu" class="submenu">
        <a mat-menu-item [routerLink]="['/profile']"><i style="padding-right: 8px;" class="bi bi-person-circle"></i>{{ user?.firstName }} {{ user?.lastName }}</a>
        <a mat-menu-item (click)="logOut()"><i style="padding-right: 8px;" class="bi bi-box-arrow-in-right"></i>Logout</a>
      </mat-menu>
    </div>
  </div>
</nav>
