<ng-container *ngIf="(centersState$ | async) as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="DataState.LOADED">
    <app-navbar [user]="state?.appData?.data?.user"></app-navbar>
    <div style="margin-top: 90px"> </div>
    <section>
      <div class="container mt-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']">Home</a>
            </li>
            <li class="breadcrumb-item active"> Recycling Centers </li>
          </ol>
        </nav>

        <div class="row mt-3">
          <div class="col-12">
            <h4 class="fw-bold">Available Recycling Centers ({{ state?.appData?.data?.page?.totalElements }})</h4>
            <div class="d-flex justify-content-end align-items-center" style="margin-top: -10px">
              <div mat-basic-chip-row class="chip-set-container">
                <mat-chip *ngFor="let material of selectedMaterials" class="custom-chip">
                  {{ material }}
                  <button matChipRemove aria-label="Remove" (click)="onRemoveMaterial(material)">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
              </div>

              <button class="btn btn-danger btn-export me-2"
                      (click)="downloadCentersReport()"
                      [matTooltipShowDelay]="800"
                      [matTooltipHideDelay]="500"
                      matTooltip="Download an Excel report of the current situation of the partner recycling centers"
              >
                <i class="fa-regular fa-file-excel"></i> Export
              </button>

              <button class="btn btn-success btn-create me-3"
                      (click)="redirectNewCenter()"
                      [matTooltipShowDelay]="800"
                      [matTooltipHideDelay]="500"
                      matTooltip="Register a new Recycling Center that users can engage with"
              >
                <i class="fa-regular fa-square-plus"></i> Create
              </button>

              <div class="btn-group btn-group-container">
                <button
                  type="button"
                  matBadgePosition="before"
                  aria-pressed="true"
                  class="filter-btn btn btn-outline-success"
                  [matBadge]="numEnabledFilters"
                  matBadgeColor="primary"
                  [matBadgeHidden]="numEnabledFilters < 1"
                  (click)="toggleFilters()"
                  [attr.aria-expanded]="!isFiltersCollapsed"
                  [class.active]="!isFiltersCollapsed"
                  [matTooltipShowDelay]="800"
                  [matTooltipHideDelay]="500"
                  matTooltip="Trigger fields for filters"
                >
                  <i class="fa-solid fa-filter"></i>
                  <i *ngIf="!isFiltersCollapsed" class="fa-solid fa-sort-up"></i>
                  <i *ngIf="isFiltersCollapsed" class="fa-solid fa-sort-down"></i>
                </button>


                <button type="button"
                        class="btn btn-outline-secondary"
                        (click)="resetFilters()"
                        [disabled]="numEnabledFilters === 0"
                        [matTooltipShowDelay]="500"
                        [matTooltipHideDelay]="500"
                        matTooltip="Clear all applied filters"
                >Clear</button>
              </div>
            </div>


            <div #filtersCollapse="ngbCollapse" [(ngbCollapse)]="isFiltersCollapsed" class="mt-3">
              <form [formGroup]="searchForm" (ngSubmit)="searchCenters()">
                <div class="row g-3">
                  <!-- filter inputs go here -->

                  <div class="col-md-4">
                    <label class="visually-hidden">Center Name</label>
                    <input type="text" formControlName="name" class="form-control" placeholder="Center Name" />
                  </div>

                  <div class="col-md-4">
                    <label class="visually-hidden">County</label>
                    <input
                      formControlName="county"
                      [typeahead]="counties"
                      [minLength]="0"
                      [contentEditable]="false"
                      [typeaheadWaitMs]="0"
                      placeholder="Select County"
                      class="form-control"
                      (typeaheadOnSelect)="onSelectCounty($event)"
                    />
                  </div>

                  <div class="col-md-4">
                    <label class="visually-hidden">City</label>
                    <input
                      formControlName="city"
                      [typeahead]="cities"
                      [minLength]="0"
                      [contentEditable]="false"
                      [typeaheadWaitMs]="0"
                      placeholder="Select City"
                      class="form-control"
                      (typeaheadOnSelect)="onSelectCity($event)"
                    />
                  </div>

                  <!-- Available Materials -->
                  <div class="col-md-4">
                    <label class="visually-hidden">Accepted Materials</label>
                    <input
                      formControlName="materials"
                      [typeahead]="availableMaterials"
                      [contentEditable]="false"
                      [minLength]="0"
                      [typeaheadWaitMs]="0"
                      placeholder="Accepted Materials"
                      class="form-control"
                      (typeaheadOnSelect)="onSelectMaterials($event)"
                    />
                  </div>


                  <div class="col-md-4">
                    <label class="visually-hidden">Sort By</label>
                    <select formControlName="sortBy" class="form-control">
                      <option value="createdAt">Created At</option>
                      <option value="name">Center Name</option>
                      <option value="contact">Contact Info</option>
                      <option value="county">County</option>
                      <option value="city">City</option>
                      <option value="acceptedMaterials">Accepted Materials</option>
                      <option value="openingHour">Opening Hour</option>
                      <option value="closingHour">Closing Hour</option>

                    </select>
                  </div>

                  <div class="col-md-4">
                    <label class="visually-hidden">Sort Order</label>
                    <select formControlName="sortOrder" class="form-control">
                      <option value="asc">Ascending</option>
                      <option value="desc">Descending</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Table and Pagination Content -->
        <!-- Table Section -->

        <div class="table-responsive mt-3">
          <table matSort (matSortChange)="sort($event)" class="table table-bordered table-hover">
            <!-- Table Header -->
            <thead class="bg-gradient text-white">
            <tr>
              <th class="text-center" scope="col" style="width: 6%;">Photo</th>
              <th scope="col" mat-sort-header="name" style="width: 15%;">Center Name</th>
              <th scope="col" style="width: 15%;">Contact Information</th>
              <th scope="col" mat-sort-header="county" style="width: 10%;">County</th>
              <th scope="col" mat-sort-header="city" style="width: 10%;">City</th>
              <th scope="col" mat-sort-header="materials" class="text-center" style="width: 20%;">Accepted Materials</th>
              <th class="text-center" scope="col" style="width: 12%;">Working Intervals</th>
              <th scope="col" style="width: 6%;" class="text-center">Engage</th>
            </tr>
            </thead>
            <!-- Table Body -->
            <tbody *ngFor="let center of state?.appData?.data?.page?.content" class="table-body">
            <tr class="cell-1">
              <td  class="text-center">
                <img
                  [src]="center.imageUrl || 'https://ui-avatars.com/api/?background=random&name=' + (center.name || '')"
                  alt=""
                  width="42" height="42" class="rounded-circle"
                ></td>
              <td> <strong style="color:#A01540;">{{ center.name }}</strong></td>
              <td>{{ center.contact }}</td>
              <td>{{ center.county }}</td>
              <td>{{ center.city }}</td>
              <td>
                <div class="accepted-materials">
                  <ng-container *ngFor="let material of center | acceptedMaterials">
                    <span class="badge mb-0" [ngClass]="material.badgeClass">{{ material.name }}</span>
                  </ng-container>
                </div>
              </td>
              <td class="text-center" [ngClass]="{ ' text-success': isCenterOpen(center), ' text-danger': !isCenterOpen(center) }">
                <ng-container *ngIf="center.alwaysOpen; else hourInterval">
                  <strong>Open Always</strong>
                </ng-container>

                <ng-template #hourInterval>
                  <strong>{{ center.openingHour | slice: 0:5 }} - {{ center.closingHour | slice: 0:5 }}</strong>
                </ng-template>
              </td>
              <td class="text-center">
                <button type="button" [routerLink]="['/centers', center.centerId]" class="btn" style="background-color: #28a745; color: #fff;">  <i class="fa-solid fa-recycle"></i>  </button>
              </td>
            </tr>
            </tbody>

          </table>

          <ngb-alert *ngIf="state?.appData?.data?.page?.content.length === 0 && numEnabledFilters !== 0" style="margin-top: 0;" type="info" [dismissible]="false">
            No recycling centers found by your criteria. Try changing your search criteria.
          </ngb-alert>

          <ngb-alert *ngIf="state?.appData?.data?.page?.content.length === 0 && numEnabledFilters === 0" style="margin-top: 0;" type="info" [dismissible]="false">
            No recycling centers available at the moment. Check back later.
          </ngb-alert>

        </div>

        <!-- Pagination -->
        <nav *ngIf="state?.appData?.data?.page.totalPages > 0" class="pagination-container">
          <ngb-pagination
            [(page)]="currentPage"
            [collectionSize]="state?.appData?.data?.page.totalElements"
            [maxSize]="3"
            [rotate]="true"
            [boundaryLinks]="false"
            [ellipses]="true"
            (pageChange)="goToPage($event)"
            class="pagination justify-content-end"
          >
            <ng-template ngbPaginationPrevious><i class="fa-solid fa-angle-left"></i> Prev</ng-template>
            <ng-template ngbPaginationNext>Next <i class="fa-solid fa-angle-right"></i></ng-template>
          </ngb-pagination>
        </nav>
      </div>
    </section>
  </ng-container>

  <ng-container *ngSwitchCase="DataState.ERROR">
    <div>{{ state.error }}</div>
  </ng-container>
</ng-container>

