<ng-container *ngIf="(centersState$ | async) as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="DataState.LOADED">
    <app-navbar [user]="state?.appData?.data?.user"></app-navbar>
    <section>
      <div class="container mt-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']">Home</a>
            </li>
            <li class="breadcrumb-item active"> All Centers </li>
          </ol>
        </nav>

        <div class="row mt-3">
          <div class="col-12">
            <h4 class="fw-bold">Available Recycling Centers ({{state?.appData?.data?.page?.totalElements}})</h4>

            <div class="d-flex justify-content-end align-items-center mt-3">
              <button class="btn btn-danger me-2" (click)="redirectNewCenter()">
                <i class="bi bi-file-earmark-excel"></i> Export Report
              </button>
              <button class="btn btn-success me-2" (click)="redirectNewCenter()">
                <i class="fa-regular fa-square-plus"></i> New Center
              </button>
              <button type="button" class="btn btn-outline-primary" (click)="toggleFilters()" [attr.aria-expanded]="!isFiltersCollapsed">
                <i class="bi bi-funnel"></i> Filters
              </button>
            </div>

            <div #filtersCollapse="ngbCollapse" [(ngbCollapse)]="isFiltersCollapsed" class="mt-3">
              <form [formGroup]="searchForm" (ngSubmit)="searchCenters()">
                <div class="row g-3">
                  <!-- filter inputs go here -->

                  <div class="col-md-4">
                    <label class="visually-hidden">Center Name</label>
                    <input type="text" formControlName="name" class="form-control" placeholder="Center Name" />
                  </div>

                  <div class="col-md-4">
                    <label class="visually-hidden">County</label>
                    <input
                      formControlName="county"
                      [typeahead]="counties"
                      [minLength]="0"
                      [typeaheadWaitMs]="300"
                      placeholder="Select County"
                      class="form-control"
                      (typeaheadOnSelect)="onSelectCounty($event)"
                    />
                  </div>

                  <div class="col-md-4">
                    <label class="visually-hidden">City</label>
                    <input
                      formControlName="city"
                      [typeahead]="cities"
                      [minLength]="0"
                      [typeaheadWaitMs]="300"
                      placeholder="Select City"
                      class="form-control"
                      (typeaheadOnSelect)="onSelectCity($event)"
                    />
                  </div>

                  <!-- Available Materials -->
                  <div class="col-md-4">
                    <label class="visually-hidden">Accepted Materials</label>
                    <input
                      formControlName="materials"
                      [typeahead]="availableMaterials"
                      [minLength]="0"
                      [typeaheadWaitMs]="100"
                      placeholder="Accepted Materials"
                      class="form-control"
                      (typeaheadOnSelect)="onSelectMaterials($event)"
                    />
                  </div>

                  <div class="col-md-4">
                    <label class="visually-hidden">Sort By</label>
                    <select formControlName="sortBy" class="form-control">
                      <option value="createdAt">Created At</option>
                      <!-- Add other sorting options as needed -->
                    </select>
                  </div>

                  <div class="col-md-4">
                    <label class="visually-hidden">Sort Order</label>
                    <select formControlName="sortOrder" class="form-control">
                      <option value="asc">Ascending</option>
                      <option value="desc">Descending</option>
                    </select>
                  </div>

                  <div class="col-md-4">
                    <button type="button" class="btn btn-secondary mb-3" (click)="resetFilters()">Reset Filters</button>
                  </div>

                </div>

                <!-- Selected Materials Badges -->
                <div class="selected-materials">
                  <div *ngFor="let material of selectedMaterials" class="badge bg-success">
                    {{ material }}
                    <button type="button" class="btn-close" aria-label="Remove" (click)="onRemoveMaterial(material)"></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!-- Table and Pagination Content -->
        <!-- Table Section -->
        <div class="table-responsive mt-3">
          <table class="table table-hover">
            <!-- Table Header -->
            <thead class="bg-gradient text-white">
            <tr>
              <th scope="col" >Photo</th>
              <th scope="col" (click)="sort('name')" class="sortable" [class.filtered]="isFiltered('name')" [class.sorted-asc]="isSorted('name', 'asc')" [class.sorted-desc]="isSorted('name', 'desc')" >Name</th>
              <th scope="col" >Contact</th>
              <th scope="col" (click)="sort('county')" class="sortable" [class.filtered]="isFiltered('county')" [class.sorted-asc]="isSorted('county', 'asc')" [class.sorted-desc]="isSorted('county', 'desc')">County</th>
              <th scope="col" (click)="sort('city')" class="sortable" [class.filtered]="isFiltered('city')" [class.sorted-asc]="isSorted('city', 'asc')" [class.sorted-desc]="isSorted('city', 'desc')">City</th>
              <th scope="col" (click)="sort('materials')" class="sortable" [class.filtered]="isFiltered('materials')" [class.sorted-asc]="isSorted('materials', 'asc')" [class.sorted-desc]="isSorted('materials', 'desc')">Accepted Materials</th>
              <th scope="col" (click)="sort('openingHour')">Working Intervals</th>
<!--              <th scope="col">Status</th>-->
              <th scope="col">Action</th>
            </tr>
            </thead>
            <!-- Table Body -->
            <tbody *ngFor="let center of state?.appData?.data?.page?.content" class="table-body">
            <tr class="cell-1">
              <td><img src="https://robohash.org/recyclingcenter" width="42" height="42" class="rounded-circle"></td>
              <td>  {{ center.name }} </td>
              <td> {{ center.contact }} </td>
              <td>  {{ center.county }} </td>
              <td>  {{ center.city }} </td>
              <td>
                <div class="accepted-materials">
                  <ng-container *ngFor="let material of center | acceptedMaterials">
                    <span class="badge mb-0" [ngClass]="material.badgeClass">{{ material.name }}</span>
                  </ng-container>
                </div>
              </td>
              <td>
                <ng-container *ngIf="center.alwaysOpen; else hourInterval">
                  Open Always
                </ng-container>
                <ng-template #hourInterval>
                  {{ center.openingHour | slice: 0:5 }} - {{ center.closingHour | slice: 0:5 }}
                </ng-template>
              </td>
<!--              <td>-->
<!--                <span class="badge bg-success">OPEN</span>-->
<!--              </td>-->
              <td>
                <button type="button" [routerLink]="['/centers']" class="btn" style="background-color: #63ad6f; color: #fff;">  <i class="fa-solid fa-recycle"></i>  </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

            <!-- Pagination -->
            <nav *ngIf="state?.appData?.data?.page.totalPages > 0">
              <ngb-pagination
                [(page)]="currentPage"
                [collectionSize]="state?.appData?.data?.page.totalElements"
                [maxSize]="3"
                [rotate]="true"
                [boundaryLinks]="false"
                [ellipses]="true"
                (pageChange)="goToPage($event)"
                class="pagination justify-content-end"
              >
                <ng-template ngbPaginationPrevious>&laquo; Prev</ng-template>
                <ng-template ngbPaginationNext>Next &raquo;</ng-template>
              </ngb-pagination>
            </nav>

            <!-- No Centers Message -->
            <div *ngIf="!state?.appData?.data?.page?.content?.length" class="alert alert-info mt-3" role="alert">
              No recycling centers available at the moment. Check back later.
            </div>
          </div>
    </section>
  </ng-container>

  <ng-container *ngSwitchCase="DataState.ERROR">
    <div>{{ state.error }}</div>
  </ng-container>
</ng-container>

