<ng-container *ngIf="(centersState$ | async) as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="DataState.LOADED">
    <app-navbar [user]="state?.appData?.data?.user"></app-navbar>
    <section>
      <div class="container">
        <nav aria-label="breadcrumb" style="margin-top: 8px;">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']">Home</a>
            </li>
            <li class="breadcrumb-item active"> All Centers </li>
          </ol>
        </nav>
        <div class="row mt-3">
          <div class="col">
            <h4 class="fw-bold text-start">Available Recycling Centers</h4>
          </div>
          <div class="col">
            <h4 class="fw-bold text-end"><i style="cursor: pointer;color: green;font-size: 30px;" class="bi bi-file-earmark-excel"></i></h4>
          </div>
          <div class="col-xm-12">
            <!-- Add dropdowns for county and city -->
            <form [formGroup]="searchForm" (ngSubmit)="searchCenters()">
              <div class="row g-3 float-end">
                <div class="col-auto">
                  <label class="visually-hidden"></label>
                  <input type="text" formControlName="name" class="form-control" placeholder="Center Name" />
                </div>
                <!-- Replace the county input field with the ngx-bootstrap typeahead -->
                <div class="col-auto">
                  <label class="visually-hidden">County</label>
                  <input
                    formControlName="county"
                    [typeahead]="counties"
                    [minLength]="0"
                    [typeaheadWaitMs]="300"
                    placeholder="Select County"
                    class="form-control"
                    (typeaheadOnSelect)="onSelectCounty($event)"
                  />
                </div>

                <!-- City Selector -->
                <div class="col-auto">
                  <label class="visually-hidden">City</label>
                  <input
                    formControlName="city"
                    [typeahead]="cities"
                    [minLength]="0"
                    [typeaheadWaitMs]="300"
                    placeholder="Select City"
                    class="form-control"
                    (typeaheadOnSelect)="onSelectCity($event)"
                  />
                </div>


                <div class="col-auto">
                  <label class="visually-hidden"></label>
                  <input type="text" formControlName="materials" class="form-control" placeholder="Accepted Materials" />
                </div>

                <div class="col-auto">
                  <button type="button" class="btn btn-secondary mb-3" (click)="resetFilters()">Delete Filters</button>
                </div>
<!--                <div class="col-auto">-->
<!--                  <button type="submit" class="btn btn-primary mb-3">Search Centers</button>-->
<!--                </div>-->
              </div>
            </form>

          </div>
          <div class="col-xm-12"><!-- Table and Pagination Content -->
            <div class="table-responsive mt-3">

              <table class="table table-hover">
                <!-- Table Header -->
                <thead class="bg-gradient text-white">
                <tr>
                  <th scope="col">Photo</th>
                  <th scope="col">Name</th>
                  <th scope="col">Contact</th>
                  <th scope="col">Location</th>
                  <th scope="col">Materials</th>
                  <th scope="col">Working Intervals</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <!-- Table Body -->
                <ng-container *ngIf="state?.appData?.data?.page?.content?.length; else noCenters">
                  <tbody *ngFor="let center of state?.appData?.data?.page?.content"  class="table-body">
                  <tr class="cell-1">
                    <td><img src="https://robohash.org/recyclingcenter" width="42" height="42" class="rounded-circle"></td>
                    <td> {{ center.name }} </td>
                    <td> {{ center.county }} </td>
                    <td> {{ center.city }} </td>
                    <td> {{ center.acceptedMaterials }} </td>
                    <td>
                      <ng-container *ngIf="center.alwaysOpen; else hourInterval">
                        Open Always
                      </ng-container>
                      <ng-template #hourInterval>
                        {{ center.openingHour | slice: 0:5 }} - {{ center.closingHour | slice: 0:5 }}
                      </ng-template>
                    </td>
                    <td>
                      <span class="badge bg-success">OPEN</span>
                    </td>
                    <td>
                      <button type="button" [routerLink]="['/centers']" class="btn btn-info">View</button>
                    </td>
                  </tr>
                  </tbody>
                </ng-container>
              </table>
            </div>

            <!-- Pagination -->
            <nav *ngIf="state?.appData?.data?.page.totalPages > 0">
              <ngb-pagination
                [(page)]="currentPage"
                [collectionSize]="state?.appData?.data?.page.totalElements"
                [maxSize]="3"
                [rotate]="true"
                [boundaryLinks]="false"
                [ellipses]="true"
                (pageChange)="goToPage($event)"
                class="pagination justify-content-end"
              >

                <ng-template ngbPaginationPrevious><< Prev</ng-template>
                <ng-template ngbPaginationNext>Next >></ng-template>
              </ngb-pagination>
            </nav>

            <ng-template #noCenters>
              <div class="alert alert-info mt-3" role="alert">
                No recycling centers available at the moment. Check back later.
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </section>
  </ng-container>

  <ng-container *ngSwitchCase="DataState.ERROR">
    <div>{{ state.error }}</div>
  </ng-container>
</ng-container>
