<div class="container" style="margin-top: 10px;">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
    <!-- Card 1 -->
    <div class="col">
      <div class="card border-info">
        <div class="card-body d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">Active Recyclers</p>
            <h4 class="my-1 text-info">{{ activeRecyclers }}</h4>
            <p class="mb-0 font-13">of us helping make our planet greener</p>
          </div>
          <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto">
            <i class="fa fa-users"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col">
      <div class="card border-danger">
        <div class="card-body d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">My Environmental Impact</p>
            <h4 class="my-1 text-danger"> +{{ userRewardPoints | sustainabilityIndex  }}%</h4>
            <p class="mb-0 font-13">my accumulated environmental impact in <strong>{{ currentMonth | date: 'MMMM'}}</strong></p>
          </div>
          <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto">
            <i class="fa-solid fa-leaf"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col">
      <div class="card border-success">
        <div class="card-body d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">Global Environmental Impact</p>
            <h4 class="my-1 text-success">+{{ recyclersRewardPoints | sustainabilityIndex}}%</h4>
            <p class="mb-0 font-13">of the planet is positively impacted by us</p>
          </div>
          <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto">
            <i class="fa-solid fa-earth-americas"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="col">
      <div class="card border-warning">
        <div class="card-body d-flex align-items-center">
          <div>
            <p class="mb-0 text-secondary">My Reward Points</p>
            <h4 class="my-1 text-warning"> {{ userRewardPoints }}</h4>
            <p class="mb-0 font-13">reward points accumulated in <strong>{{ currentMonth | date: 'MMMM'}}</strong></p>
          </div>
          <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto">
            <i class="fa-solid fa-award"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
