.eco-learn-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 15px;
}

.posts-container {
  flex: 1;
  max-width: 850px;
}

.filter-sidebar {
  width: 400px;
  padding: 25px;

  margin-right: -250px;
  box-shadow: none;
  position: sticky;
  top: 100px;
  /*border: 1px solid #860909;*/
  border-radius: 8px;
  background-color: #fff;
  height: fit-content;
}


.post-card {
  background-color: #fff;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

.post-card:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.post-header, .post-body, .post-footer {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.post-header {
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.post-title {
  margin: 0 0 10px;
  font-size: 24px;
  color: #333;
}

.post-details {
  /*margin-top: 5px;*/
  margin-bottom: 0;
  font-size: 18px;
  color: #666;
}

.post-body {
  padding: 15px;
}

.post-text {
  font-size: 16px;
  color: #444;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
}

.post-media {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.post-footer {
  display: flex;
  justify-content: flex-end;
  padding: 15px 20px;
  border-top: 1px solid #eee;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eee;
  padding: 15px 20px;
}

.left-icons {
  display: flex;
  align-items: center;
}

.right-icons {
  display: flex;
  align-items: center;
}

.icon-btn i:hover {
  transform: scale(1.1);
}

.icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
  color: #A01540;
  font-size: 24px;
  margin: 0 8px;
}


.icon-btn:hover {
  color: #008000;
  transform: translateY(-2px);
}

.icon-text {
  margin-left: 8px;
  font-weight: bold;
  color: #333;
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
}


.share-btn {
  animation: shareAnimation 0.2s ease-in-out forwards;
}

@keyframes likeAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes shareAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.eco-learn-container {
  display: flex;
}

.recommended-categories {
  margin-top: 20px;
}

@media (max-width: 992px) {
  .eco-learn-container {
    flex-direction: column;
    align-items: center;
  }

  .filter-sidebar {
    order: -1;
    flex-basis: 100%;
    max-height: none;
    position: static;
    margin-bottom: 20px;
  }
}


input, select, button {
  width: 100%;
  padding: 3px 5px;
  margin-bottom: 10px;

  border-radius: 4px;
}


/*.category-chip:hover {*/
/*  background-color: #138496; !* Slightly darker on hover *!*/
/*}*/

.nav-pills {
  flex-direction: column;
  padding-right: 20px;
}

.nav-link {
  width: 250px;
  height: 50px;
  font-size: 16px;
  margin-bottom: 5px;
  margin-left: -200px;
  border-radius: 5px;
  color: #A01540;
}

.nav-link.active {
  color: #fff;
  background-color: #A01540;
  border-color: #A01540;
}

@media (max-width: 768px) {
  .eco-learn-container {
    flex-direction: column;
  }

  .nav-pills {
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 20px;
  }

  .filter-sidebar {
    order: -1;
    width: 100%;
    margin-bottom: 20px;
  }
}

.invisible-form {
  display: none;
}

.post-details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.custom-chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-left: 5px;
}


.collapsed {
  max-height: 3em;
  overflow: hidden;
}

.content-collapse-trigger {
  color: #4caf50;
  font-weight: bold;
  margin-top: -5px;
}

.post-text.expanded {
  display: block;
  overflow: visible;
  -webkit-line-clamp: none;
  max-height: none;
}

