<ng-container *ngIf="(ecoLearnState$ | async) as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="DataState.LOADED">
    <app-navbar [user]="state?.appData?.data?.user"></app-navbar>

    <div style="margin-top: 100px"> </div>
    <section>
      <div class="container mt-4">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/eco-learn']">EcoLearn</a></li>
            <li class="breadcrumb-item active" aria-current="page">Feed</li>
          </ol>
        </nav>

        <div class="eco-learn-container">
          <div class="d-flex">
            <div ngbNav #nav="ngbNav"  class="nav-pills flex-column" orientation="vertical">
              <ng-container ngbNavItem="all">
                <button ngbNavLink (click)="updateActiveTab('all')">All Resources</button>
                <ng-template ngbNavContent>
                  <ng-container *ngTemplateOutlet="postsFeed"></ng-container>
                </ng-template>
              </ng-container>
              <ng-container ngbNavItem="liked">
                <button ngbNavLink (click)="updateActiveTab('liked')">My Favourites</button>
                <ng-template ngbNavContent>
                  <ng-container *ngTemplateOutlet="postsFeed"></ng-container>
                </ng-template>
              </ng-container>
              <ng-container ngbNavItem="saved">
                <button ngbNavLink (click)="updateActiveTab('saved')">Saved For Later</button>
                <ng-template ngbNavContent>
                  <ng-container *ngTemplateOutlet="postsFeed"></ng-container>
                </ng-template>
              </ng-container>
            </div>

            <div [ngbNavOutlet]="nav" class="flex-grow-1 ms-4"></div>
          </div>

          <!-- New Resource Form -->
          <ng-template #postsFeed>
            <div class="posts-container">
              <ng-container *ngFor="let resource of state?.appData?.data?.page?.content">
                <div class="post-card">
                  <div class="post-header">
                    <h3 class="post-title">{{resource.title}}</h3>
                    <p class="post-details">
                      {{resource.createdAt | date: 'longDate'}} •
                      {{resource.contentType}} •
                      <mat-chip-list class="custom-chip-list">
                        <mat-chip *ngFor="let category of resource.categories" class="custom-chip" selected>
                          {{category}}
                        </mat-chip>
                      </mat-chip-list>

                    </p>
                  </div>
                  <div class="post-body">
                    <p [innerHTML]="sanitizeHtml(getDisplayedContent(resource))" [class.expanded]="isExpanded[resource.resourceId]"></p>
                    <a *ngIf="isContentTooLong(resource.content)" (click)="toggleContent(resource.resourceId.toString())" class="view-more">
                      <span class="content-collapse-trigger">{{ isExpanded[resource.resourceId] ? 'View Less' : 'View More' }}</span>
                    </a>
                    <ng-container  *ngIf="resource.contentType !== 'VIDEO' && resource.mediaUrl != null"  >

                      <img [src]="resource.mediaUrl" width="780px" height="480px" class="img-responsive post-media" loading="eager" alt="">
                    </ng-container>

                    <ng-container *ngIf="resource.contentType === 'VIDEO'">

                      <ng-container *ngIf="resource.isExternalMedia" class="embed-responsive embed-responsive-16by9">
                        <iframe [src]="sanitizeUrl(convertToEmbedUrl(resource.mediaUrl))" loading="lazy" class="embed-responsive-item" width="780px" height="480px" allow="autoplay; clipboard-write; picture-in-picture"
                                allowfullscreen></iframe>
                      </ng-container>

                      <ng-container *ngIf="!resource.isExternalMedia">
                        <vg-player [style.width]="'780px'" [style.height]="'480px'">
                          <vg-overlay-play></vg-overlay-play>
                          <vg-buffering></vg-buffering>
                          <vg-scrub-bar>
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                            <!--                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>-->
                          </vg-scrub-bar>
                          <vg-controls>
                            <vg-play-pause></vg-play-pause>
                            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                            <vg-track-selector></vg-track-selector>
                            <vg-mute></vg-mute>
                            <vg-volume></vg-volume>
                            <vg-fullscreen></vg-fullscreen>
                          </vg-controls>
                          <vg-buffering></vg-buffering>
                          <video  [vgMedia]="$any(media)" #media id="resourceVideo" preload="auto" crossorigin>
                            <source [src]="resource.mediaUrl" type="video/mp4">
                          </video>
                        </vg-player>
                      </ng-container>

                    </ng-container>
                  </div>
                  <div class="post-footer left-icons">
                    <button class="icon-btn" (click)="likeResource(resource)">
                      <i *ngIf="!resource.likedByUser" class="fa-regular fa-heart"></i>
                      <i *ngIf="resource.likedByUser" class="fa-solid fa-heart"></i>
                      <p class="icon-text">{{ resource.likesCount }}</p>
                    </button>

                    <button class="icon-btn" (click)="shareResource(resource)">
                      <i class="fa-solid fa-share"></i>
<!--                      <p class="icon-text">{{ resource.sharesCount }}</p>-->
                    </button>

                    <button class="icon-btn" (click)="saveResource(resource)">
                      <i *ngIf="!resource.savedByUser" class="fa-regular fa-bookmark"></i>
                      <i *ngIf="resource.savedByUser" class="fa-solid fa-bookmark"></i>
<!--                      <p class="icon-text">{{ resource.savesCount }}</p>-->
                    </button>
                  </div>
                </div>
              </ng-container>
            </div>


            <nav *ngIf="state?.appData?.data?.page.totalPages > 0" class="pagination-container">
              <ngb-pagination
                [(page)]="currentPage"
                [collectionSize]="state?.appData?.data?.page.totalElements"
                [maxSize]="3"
                [rotate]="true"
                [boundaryLinks]="false"
                [ellipses]="true"
                (pageChange)="goToPage($event)"
                class="pagination justify-content-end"
              >
                <ng-template ngbPaginationPrevious><i class="fa-solid fa-angle-left"></i> Prev</ng-template>
                <ng-template ngbPaginationNext>Next <i class="fa-solid fa-angle-right"></i></ng-template>
              </ngb-pagination>
            </nav>

          </ng-template>




          <aside class="filter-sidebar">
            <div class="mb-4">
              <h5 >Apply Filters</h5>
            </div>


            <form [formGroup]="searchForm" (submit)="searchEducationalResourcesSubmit($event)">
              <input formControlName="title"
                     placeholder="Search by title"
                     class="form-control">

              <input type="text"
                     formControlName="contentType"
                     class="form-control"
                     id="contentType"
                     [typeahead]="availableContentTypes"
                     [minLength]="0"
                     [typeaheadWaitMs]="10"
                     placeholder="Select Post Content Type">


              <!-- Categories Filter -->
              <input type="text"
                     formControlName="categories"
                     class="form-control"
                     id="categories"
                     [typeahead]="availableCategories"
                     [minLength]="0"
                     [typeaheadWaitMs]="10"
                     placeholder="Select Category"
                     (typeaheadOnSelect)="onSelectCategory($event)">

              <!-- Sorting Options -->
              <select formControlName="sortBy" class="form-control">
                <option value="createdAt">Date Posted</option>
                <option value="title">Title</option>
              </select>

              <select formControlName="sortOrder" class="form-control">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
              </select>

              <input formControlName="likedOnly" class="invisible-form" type="checkbox">
              <input formControlName="savedOnly" class="invisible-form" type="checkbox">

              <button type="submit"
                      class="btn btn-outline-secondary"
                      (click)="resetFilters()"
                      [matTooltipShowDelay]="500"
                      [matTooltipHideDelay]="500"
                      matTooltip="Clear all applied filters">
                Clear Filters
              </button>
            </form>

            <div *ngIf="selectedCategories.length > 0" class="recommended-categories">
              <h5>Selected Categories</h5>
              <div class="categories-chips">

                <mat-chip-list class="custom-chip-list" >
                  <mat-chip *ngFor="let category of selectedCategories" class="category-chip"  selected>
                    {{category}}
                    <button matChipRemove aria-label="Remove"  (click)="onRemoveCategory(category)">
                      <mat-icon style="margin-bottom: -8px; margin-left: -8px;">cancel</mat-icon>
                    </button>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>

            <!-- Recommended Categories -->
            <div class="recommended-categories">
              <h5>Recommended Categories</h5>
              <div class="categories-chips">

                <mat-chip-list class="custom-chip-list">
                  <mat-chip *ngFor="let category of availableCategories" class="custom-chip" selected (click)="addCategoryIfNotExists(category)">
                    {{category}}
                  </mat-chip>
                </mat-chip-list>
              </div>
            </div>
          </aside>
        </div>
      </div>

    </section>


  </ng-container>
</ng-container>
