.section {
  background-color: #f8f9fa;
  min-height: 100vh;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #333;
}

.form-label {
  color: #2d2c2c;
}

.btn-msg-color {
  background-color: #A01540;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.btn-msg-color:hover {
  background-color: #b92355;
}

.link {
  color: #0D6EFD;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
  color: #004085;
}

.alert {
  border-radius: 10px;
}

.row.justify-content-center.align-items-center {
  min-height: 100vh;
}
