@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css');

body{
  background-color:#ecf2f5;
}

.disabled {
  pointer-events:none;
  opacity:0.6;
}

.pointer {
  cursor: pointer;
}
.card {
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 10%);
  margin-bottom: 24px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid #ecf2f5;
  border-radius: .25rem;
}
.avatar-lg {
  height: 4.5rem;
  width: 4.5rem;
}


.font-13 {
  font-size: 13px!important;
}

input[type="text"]:disabled {
  border: 0;
  outline: 0;
  background-color: #ecf2f5;
}

.select-cl {
  background-color: #ecf2f5;
  border: 0;
  outline: 0;
}

.cell-1 {
  border-collapse: separate;
  border-spacing: 0 4em;
  background: #fff;
  border-bottom: 5px solid transparent;
  /*background-color: gold;*/
  background-clip: padding-box;
}

thead {
  background: #dddcdc;
}

::selection {
  background-color: #A01540; /* Adjust the background color as needed */
  color: #fff; /* Adjust the text color as needed */
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.card {
  box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.avatar.sm {
  width: 2.25rem;
  height: 2.25rem;
  font-size: 0.818125rem;
}

.table-nowrap .table td,
.table-nowrap .table th {
  white-space: nowrap;
}

.table > :not(caption) > * {
  padding: 0.75rem 1.25rem;
  border-bottom-width: 1px;
}


.highlight {
  background-color: yellow;
  font-weight: bold;
}
/* Add these styles to your component's CSS file */

.badge-soft-ewaste {
  color: #fff !important;
  background-color: #f3ad1a;
  font-size: 12px;
}

.badge-soft-aluminium {
  color: #fff !important;
  background-color: #948b8b;
  font-size: 12px;
}

.badge-soft-plastic {
  color: #fff !important;
  background-color: #f56e6e;
  font-size: 12px;
}

.badge-soft-paper {
  color: #fff !important;
  background-color: #63ad6f;
  font-size: 12px;
}

.badge-soft-glass {
  color: #fff !important;
  background-color: #3b76e1;
  font-size: 12px;
}

.badge-soft-metals {
  color: #fff !important;
  background-color: rgba(183, 61, 61, 0.89);
  font-size: 12px;
}

.badge-soft-plastic {
  color: #fff !important;
  background-color: #f56e6e;
  font-size: 12px;
}

.accepted-materials {
  display: flex;
  gap: 5px; /* Adjust the spacing between badges as needed */
}


